[2014-03-10 09:37] pxlpnk opened #1 "DateTime is missing"
<pre>
Script started on Mon Mar 10 10:32:30 2014                                                                                                                                                                                                          $ rake console

[2014-03-10 09:54] pxlpnk opened #2 "add LICENSE"
I think we should add a LICENSE file with the chosen variant.
Did we already agree on something or are we just going to stick with MIT?

[2014-03-10 18:36] #2 closed, assigned to nobody

[2014-03-10 21:48] #1 closed, assigned to nobody

[2014-03-22 01:02] emilesilvis opened #4 "Content Management API"
Will this gem support the Content Management API soon?

[2014-03-24 08:05] #4 closed, assigned to nobody

[2014-04-04 16:06] pxlpnk opened #5 "Dynamic entries fail when using "nested" content types"
When trying to access the the title of a story associated with an entry the dynamic resolution of content types fails.

<pre>
entry.story.title
# => NoMethodError: undefined method 'story' for
 Contentful::Entry:0x000001055e6400 .

</pre>

however accessing the hash works as expected:

<pre>
 entry.fields[:story].title
# => 'Story Title'
</pre>

Inspecting the class shows that the content types ar

[2014-04-11 00:03] trg opened #6 "Not able to include linked Entries"
I seem unable to retrieve nested entries with the gem.

The code from the README:

[code]

In my Space, I have a Content Type with two fields:

[code]

However, when I use

[code]

The response of the following two calls do not differ:

[code]

I assumed I was doing something wrong but I recalled seeing this in your docs:

However that did not work on `c1` because it's an `Array`:

[code]

Nor did

[2014-04-11 22:46] trg opened #7 "DynamicEntries cannot be resource mapped"
Non-dymaic entries:

[code]

Then querying for an entry:

[code]

However, when I resource_map dynamic entries instead, while dynamic entries are set to auto:

[code]

I still get the regular Contentful::DynamicEntry class.

[code]

Is this the expected behavior?

[2014-04-14 08:13] #6 closed, assigned to nobody

[2014-04-15 16:49] trg opened #9 "`dynamic_entries: :auto` not creating instances of Contentful::DynamicEntry"
I'm not able to reproduce the behavior described in the [README.md](https://github.com/contentful/contentful.rb/blob/master/README.md#dynamic-entries), in which setting `dynamic_entries` to `:auto` returns DynamicEntry objects

To reproduce, with version 0.1.1, in `irb`:

[code]

Ruby Version: ruby 2.1.0p0 (2013-12-25 revision 44422) [x86_64-darwin12.0]

[2014-04-15 23:16] trg opened #10 "SystemStackError: stack level too deep"
I'm having issue with a particular Content Type.

[code]

Unfortunately this issue is present outside of IRB / `rails c`.  Also, it only seems to affect this one Content Type so far, all others are unaffected.

[code]

Contentful Gem version: 0.1.1

Doing this same request via an HTTP GET returns a valid JSON string.

[2014-04-16 11:16] #9 closed, assigned to nobody

[2014-04-17 16:21] trg opened #13 "Not all fields are dynamically mapped"
I have a client with `dynamic_entries: :auto`.  `@foo` is an instance of `DynamicEntry`:

[code]

I believe it to be a bug that I can access some fields dynamically, but not DateTime.

[2014-04-17 16:47] #13 closed, assigned to nobody

[2014-04-17 16:50] #10 closed, assigned to nobody

[2014-04-22 13:05] #7 closed, assigned to nobody

[2014-04-22 13:07] #5 closed, assigned to nobody

[2014-06-25 14:10] olgen opened #17 "Handling of server-errors - currently throws Contentful::UnparsableJson on 503"
Should react to the error-code and through a more meaningful error 'Contentful::ServerUnavailable' ?

[2014-07-12 19:04] trg opened #18 "Empty Date Time field causes TypeError"
[code]

The Content Type in question has a non-required "birthdate" Date/Time field.  When this field is empty on just one of the Entries of this Content Type (or perhaps was populated, then deleted -- not sure), it causes the entire lookup to fail with the error message shown above.  When we populate this field with data, the error does not happen.

[2014-07-14 15:02] trg opened #19 "Fastly 503 Error should be properly handled"
In cases where the Fastly cache sitting in front of Contentful throws a 503, the gem still tries to parse the response XML as JSON, throwing this error:

[code]

I recommend more graceful error handling in cases where the API is unavailable.

[2014-07-15 07:05] #19 closed, assigned to nobody

[2014-07-16 10:01] #18 closed, assigned to nobody

[2014-08-06 16:02] timoroemer opened #23 "Search for spaces doesnt return the default locale"
Hey contentful,

I think have found something wrong (maybe in my thinking/using the gem, maybe in the gem):

If I use the gem and do this:
`client.space(id: MY_SPACE_ID)`

The response is this:

[code]

but if I call this straight via curl:
https://cdn.contentful.com/spaces/MY_SPACE_ID?access_token=MY_SUPER_SECRET_TOKEN

I get:

[code]

I would expect to receive the information whether the languag

[2014-08-06 16:44] #23 closed, assigned to nobody

[2014-08-13 15:44] #17 closed, assigned to pxlpnk

[2014-08-18 21:59] ranakhalil opened #26 "Completed 401 Unauthorized -- response"
Hi,

I just upgraded our contentful gem to 0.3.3. Even though everything seems to be working smooth and data is loading, we are getting 401's in our logs for some requests:

ex:
Filter chain halted as #Proc:0x007f2c22549188@/app/vendor/bundle/ruby/2.1.0/gems/actionpack-4.0.5/lib/action_controller/metal/http_authentication.rb:71 rendered or redirected
Completed 401 Unauthorized in 236ms

Do you hav

[2014-08-22 20:27] #26 closed, assigned to nobody

[2014-08-22 20:29] ranakhalil opened #27 "Query and return only specific item rather than full data fields/items"
Hey team,

Is there a way to query by a specific content type and return only one field item rather than the whole record?

For example: I have content type video with fields name and url, and I would like to get all videos' urls only? ( I know how to get all by content type, but not a specific field only and exclude everything else)

Thanks

Rana

[2014-08-26 18:47] ranakhalil opened #28 "Can't exclude records where fields are null via [ne]"
Hey Team,

We are currently trying to query our entries and exclude records where some fields are nil with the following query:

({
      'content_type' => "some_content_type",
      'limit' => 24,
      'skip' => 0,
      'fields.ooyalaId[ne]' => nil,
      'fields.publishDateTime[lte]' => @publish_date_time,
      'order' => '-fields.publishDateTime',
    })

The results however don't exclude re

[2014-08-27 09:37] #28 closed, assigned to nobody

[2014-08-27 09:39] #27 closed, assigned to nobody

[2014-08-28 09:28] solnic opened #29 "NoMethodError: undefined method `[]' for nil:NilClass in ResourceBuilder"
It's hard for me to provide any kind of a context except that we have dead-simple code that uses contentful client to fetch entries and for some reason this happened:

[code]

It was the first time after weeks of running w/o any issues.

[2014-09-08 17:41] mcberros opened #31 "Field of Asset with locale returns a string instead of a hash"
An example

[code]

We can see that the field `:title=>"{\"en-US\"=>\"Doge\"}"`is a string instead of a hash.

[2014-09-08 17:42] mcberros opened #32 "Properties for file field of an Asset are nil"
An example:

[code]

We can see that in the properties for the file is everything nil:

[code]

[2014-09-17 21:04] trg opened #34 "Frequent calls to /spaces/<space_id>/content_types"
I've monkey patched the way the gem does HTTP calls to see what's going out as shown:

[code]

And in my logs I'm seeing a tremendous amount of calls to https://cdn.contentful.com/spaces/space_id/content_types  (of course, replace <space_id> with my own space's id)

Is this expected behavior?  Here's the trace:

[code]

[2014-10-03 10:10] #34 closed, assigned to pxlpnk

[2014-10-07 15:16] #32 closed, assigned to pxlpnk

[2014-10-07 15:17] #31 closed, assigned to pxlpnk

[2014-10-07 15:25] #29 closed, assigned to pxlpnk

[2014-10-08 18:04] solnic opened #38 "Errno::ETIMEDOUT: Connection timed out"
We've been seeing a lot of timeout errors lately. Yesterday I upgraded to 0.3.5 + added some logic to retry a request if there's an error raised (I noticed you added a bunch of custom errors so that's cool and we're rescuing from those) but now I see that around 5/6pm CET today we had a bunch of timeouts with this raw error being raised (I assumed you'd rescue from it and raise your custom one).

[2014-10-08 19:25] ranakhalil opened #39 "undefined method `[]=' for nil:NilClass for gem replace_children"
Dear Contentful,

All our calls are failing and showing the following errors:

undefined method `[]=' for nil:NilClass

for:

[code]

in:

[code]

Thanks, we appreciate your response

Rana

[2014-10-08 21:01] #39 closed, assigned to nobody

[2014-10-15 17:35] tomnatt opened #40 "Proxy support?"
As far as I can see there is not any proxy support within this gem. Am I missing something? If not, can we have it please as we cannot deploy any corporate applications using this gem to talk to contentful without it.

[2014-10-18 10:26] pxlpnk opened #41 "When an error is returned the response object gets lost"
When I try to run a query that results in an error I get an instance of `Contentful:Client` instead of the response object. This makes it hard to get to the actual error and figure out what is wrong.

Also it should never return the client object.

[code]

[2014-10-21 12:23] #40 closed, assigned to nobody

[2014-10-29 18:00] #38 closed, assigned to nobody

[2014-10-29 18:02] solnic opened #43 "Getting localized entries not working?"
I tried `navigation.top_menu.entries.first.fields('fr-CH')` and got back version with default locales. What's the correct way of using this feature? I couldn't figure it out myself.

[2014-11-01 00:37] #43 closed, assigned to nobody

[2014-11-06 09:13] #41 closed, assigned to nobody

[2015-01-06 14:44] thoughtandtheory opened #45 "Query to Display Category List and Linked Entries"
So I have two different content_types:

Jobs
Departments

In Jobs, there is a link field to a single department. It's a required field so all jobs are associated to at least one department.

I'm trying to display a list of jobs by department:

Department
* Job
* Job

Department
* Job

...etc

I was searching through the documentation to see if there was any way to query the departments and then so

[2015-01-06 17:54] pxlpnk commented on #45
Unfortunately this is not yet possible, however you can include the linked departments in the query for the jobs and filter them on the client side:

[code]
Another way would be to rethink your content_model and link a department to a job, or create links in both directions.

[2015-01-06 20:15] thoughtandtheory commented on #45
When you say filter them on the client side, how would that work?

As for doing it in both directions, I think it'd end up doubling up effort on the content team.

[2015-01-07 09:12] grncdr commented on #45
To group the jobs by department on the client would look something like this:

[code]

The above code assumes that you are using [dynamic entries](https://github.com/contentful/contentful.rb#dynamic-entries) and both the Department and Job content types have a `name` field. You may need to adjust it to access departments via `entry.fields[:department]` and/or adjust the field names.

[2015-01-13 01:31] virtualandy opened #46 "Ruby client restricted to production token only (with a Limited Account)?"
Is the ruby client restricted to production only tokens? Note I'm on a Limited/Free account at the moment.

I can successfully hit our space and associated endpoints via curl using the "Preview" token. But when I do that via the ruby client I get ```"Contentful::Unauthorized: Contentful::Unauthorized"```.

Using the production token works fine. (I get a similar "Access Denied" error when trying to

[2015-01-13 07:29] pxlpnk commented on #46
The client is capable of using the regular api and the preview api.
It is not documented in the readme, I will fix this ASAP.

Until then consult the documentation on our site: https://www.contentful.com/developers/documentation/content-delivery-api/ruby/#preview-api

To use the ruby client with the preview api you need to specify the host:

[code]

Hope this helps

[2015-01-13 10:20] pxlpnk commented on #45
@thoughtandtheory did this work for you? Can we close this ticket then?

[2015-01-13 16:46] virtualandy commented on #46
@pxlpnk Ah, totally missed that in the docs on contentful.com. Thanks, that should fix me up!

[2015-01-13 21:53] charlieko opened #47 "VCR is throwing error while recording cassettes when used with http 0.7.1"
I forked the repository to make a modified version suitable for my company to use. I realized that re-recording cassettes fails with the following error.

[code]

For this particular error, it's from client_class_spec, but all other specs threw the similar error.

I spent hours tracking where this is thrown and found out that it's from incompatibility between vcr 2.7.3 and http 0.7.1. Downgrading

[2015-01-13 21:56] pxlpnk commented on #47
Thank you for reporting this.
Do you maybe have the code where the request object is built?

[2015-01-13 22:55] charlieko commented on #47
The only change made to the request object is the uri. It is something like `'http://www.example.com:1337/spaces/asdf'` instead of the normal contentful uri with the default http port.

[2015-01-13 23:37] virtualandy commented on #46
Hmmm. Tried this and still got unauthorized.

If I use the production token (but the preview host) it works but only gives me the published entries.

Maybe I'm doing something wrong, though. I can send my space ID/token into support if that helps.

[code]

[2015-01-14 07:26] pxlpnk commented on #46
In your API key settings you can obtain your preview api token, this one is a different one from the production token. They both can *not* be used for the other API.
Also the API settings give you and example curl command and example ruby code that works.

If the problem continues please send your space id to support@contentful.com and we take a deeper look.

[2015-01-14 07:28] pxlpnk commented on #47
I take a look at it in the next couple of days, are you using a caching proxy in between that modifies the data somehow? Why do you point it to a different URL?

[2015-01-14 15:34] virtualandy commented on #46
Just as follow up here, the key was to use the ```api_url:``` parameter, not ```host:``` :

[code]
This worked using the [demo space credentials](https://www.contentful.com/developers/documentation/content-delivery-api/ruby/#preview-api-usage) that's listed in the docs.

[2015-01-14 15:34] #46 closed

[2015-01-14 15:38] pxlpnk commented on #46
Thank you for the update, I will add this to the readme right away!

[2015-01-14 22:23] charlieko commented on #47
Can't really say in details since it's related to my company's service architecture, but it's kind of like what you said - proxy, but using the proxy option already provided does not work for a number of reasons.

I also noticed that some of the example data that Contentful returns changed, so there are some tests that fail that presume a certain data to be returned from it after re-recording cass

[2015-01-15 07:40] pxlpnk commented on #47
Would it be ok for you to send an email to support@contentful.com I would like to learn more about how you use the gem.

Most of the data should not have changed, do you maybe have a list for me what you had to change?

As you pointed out pining the http version to `0.6.x` solves the issue, I still was not able to figure out why what causes the problem.

[2015-01-22 14:58] andreasbeer1981 opened #49 "Error handling"
Shouldn't client.rb raise an exception on getting a timeout response?

[code]

[2015-01-22 15:09] pxlpnk commented on #49
this depends on how you initialised the client. To raise exceptions you need to set `raise_errors: true`
See the [documentation](https://github.com/contentful/contentful.rb#raise_errors).

The interesting part is though, that you should not run into this kind of error at all.
Would you mind sending an email to support@contentful.com with the information on what calls you received the error and aro

[2015-01-22 18:27] andreasbeer1981 commented on #49
mail is sent. thanks for the feedback

[2015-01-22 18:36] pxlpnk commented on #49
Thank you,
I will add a better error handling for the 503 as this is returned as HTML instead of JSON.

[2015-01-27 12:28] #49 closed

[2015-01-27 12:37] #45 closed

[2015-01-29 01:10] jsdalton opened #53 "Error when marshalling a Contentful resource object"
So this sounds like a pretty typical use case of this gem, but we've run into an issue where the built in Ruby Marshal class thrown an error when a Contentful::Resource object is dumped.

In a nutshell, we're using Contentful in a Ruby project and we're trying to cache the response we get from our call to the Contentful::Client. The Rails cache stores all in some form or another attempt to marshal

[2015-01-29 10:47] pxlpnk commented on #53
We generate all classes and methods dynamically on the fly from the JSON response, which makes it hard to create an object that can be marshalled at the current point.

It is on our radar to make this possible in a nice way, but there is no timeframe yet when this is going to happen.
In the meanwhile you can check out the [contentful_rails](https://github.com/errorstudio/contentful_rails) project

[2015-01-29 18:56] jsdalton commented on #53
Thanks for the response.

Good news is I did some further exploration and I discovered that the source of the error was actually the Rails logger instance I was passing in to the client on creation. Without that logger the marshal dump/load process appears to be working just fine.

I'll probably code up my own workaround to excluding the logger when the client is marshaled but just wanted to share

[2015-01-30 11:10] pxlpnk commented on #53
This is interesting, I will have a look and try to reproduce this.
Thank you for your input.

[2015-01-30 11:10] #53 closed

[2015-02-20 18:51] pxlpnk commented on #47
I looked deeper into it, it seems to be that psych is related to the issue. It works good with the JSON format of VCR.

One "fix" would be to use the JSON format. Another would be to dig deeper and figure out what the problem with psych, http and vcr actually is.

[2015-02-22 19:56] edtjones opened #55 "How to build a resource from a webhook callback?"
Hi there

It would be really useful to build a resource (mapped to the correct class if there's a resource mapping for it) from the JSON returned by a callback. Can I instantiate at `Contentful::Response` with the content of the webhook? Or should I be higher up the stack, maybe building a separate class which includes `Contentful::Resource` ?

It would be really handy to be able to cache the obje

[2015-02-22 19:57] edtjones commented on #55
(Of course this presupposes that the contents of the webhook JSON match the JSON returned from a Contentful API request - I haven't checked.)

[2015-02-23 10:00] pxlpnk commented on #55
In theory it would be possible.
I made a tiny prototype once to see how this could work, but I encountered a few problems. One being that the Resource has more responsibilities as it should, which makes just parsing the response quite hard.
Simplifying the `Resource` class would be a first step so that JSON can be parsed at any time without the need of having a client object or others.

[2015-02-25 10:37] andreasbeer1981 commented on #49
Hi,

we experienced the very same error again on:
February 17th 2015, 14:04:16
February 17th 2015, 14:14:29
February 17th 2015, 17:23:26

maybe https://github.com/contentful/contentful.rb/pull/50 still left some cases out?

thanks

[2015-02-25 10:39] andreasbeer1981 commented on #49
oh, #50 is not released yet, never mind :D

[2015-02-25 10:48] pxlpnk commented on #49
@andreasbeer1981 #50 is already released with v0.5.0
see the diff to master: https://github.com/contentful/contentful.rb/compare/v0.5.0...master

Could you provide more details and explain

[2015-03-10 12:50] madtrick opened #56 "Different representations for the same link"
### Summary
The same link can be returned as a `Contentful::Link` object or as a `Contentful::Dynamic` object depending on the presence of other links in the same collection

#### Details
Consider the following content type

[code]

And also consider the following the query parameters:

[code]

Then:

 * If there's only one link in the **entries** field and that link points to the entry itself the

[2015-04-01 20:41] pxlpnk commented on #47
http.rb v.0.8.0 was just released and it seems to have fixed those issues.
I tested it locally and the does not occur anymore.

https://github.com/httprb/http.rb/tree/v0.8.0

[2015-04-01 20:41] #47 closed

[2015-04-02 15:39] pxlpnk opened #58 "http.rb not working with Ruby 2.2"
Currently the Gem won't work with Ruby 2.2, see:
https://github.com/httprb/http.rb/issues/202

[2015-04-03 16:25] jsdalton opened #60 "When an entry has related entries that are unpublished, they still end up in the resource as unresolved links"
We ran into an issue recently where if there is a list of related entries, and one of those entries is unpublished, the related field on the main entry still includes that unpublished entry, but it's there as "link" instead of a resolved resource.

This bit us in several places on our front end, where we're iterating over a list of related entries and expecting only published resources, but an obj

[2015-04-08 09:21] pxlpnk commented on #58
fixed with http.rb 0.8.1

[2015-04-08 09:21] #58 closed

[2015-07-28 16:01] neonichu opened #63 "Asset `file` properties are nil when using sync"
An asset retrieved via sync looks like this:

[code]

Obviously, the file properties should not be `nil`.

[2015-08-21 08:14] #55 closed

[2015-08-21 08:15] edtjones commented on #55
Hi @pxlpnk  - closed because it's not on the roadmap? Might be nice to keep open but dormant somehow.

[2015-08-21 08:17] pxlpnk commented on #55
At the current time there are no plans to support this.
To be able to support this we would need to remodel and detangle the `Resource` class quite a bit.
In favour of simplicity there _could_ be a separate Gem handling this.

[2015-08-21 08:18] neonichu commented on #55
FWIW, we have [this gist](https://gist.github.com/neonichu/17a987aeeb256d4bf6f3) with a stopgap workaround

[2015-08-21 08:19] edtjones commented on #55
Thanks @neonichu @pxlpnk - will investigate options if we need this on the next project we work on.

[2015-08-21 08:19] pxlpnk commented on #55
@neonichu we could add this code to the README maybe. That would be a first step into the right direction.

[2015-08-21 09:16] hungryblank opened #64 "time out errors exposed as 503"
Seems confusing to classify time out errors as 503 as it's misleading when trying to understand what's the real underlying issue

https://github.com/contentful/contentful.rb/blob/5ee811d4c7d4c94272e3e84a384d237ab106973f/spec/error_requests_spec.rb#L39

[2015-08-21 09:18] #64 closed

[2015-08-21 09:19] hungryblank commented on #64
only wording in tests is confusing

[2015-08-25 11:26] #63 closed

[2015-08-26 08:27] #60 closed

[2015-09-09 16:53] dlitvakb opened #68 "Raw Mode does not work with Sync API"
When trying to access the Sync API using `raw_mode: true`, the client expects `next_sync_url` to be an accessor in the response object when it's actually a key inside the JSON hash in the response.

I copy the code for reproduction:

[code]

[2015-09-11 08:51] toadle opened #69 "NoMethodError when creating custom class with Contentful::Resource"
Hey guys,

too bad that the documentation for creating custom classes is a little sparse, but I'm trying to follow the instructions in https://github.com/contentful/contentful.rb/blob/master/examples/custom_classes.rb . Where it says that any custom class just needs to include `Contentful::Resource`. Sadly is is not stated how to use the "property"-stuff so I might be doing something wrong.

I'm t

[2015-10-15 12:06] toadle commented on #69
@contributors Any advice?

[2015-10-19 13:32] dlitvakb commented on #56
Hey @madtrick,

Thank you for submitting this.

I'm currently looking at your issue. I've tried to recreate with no success the issue you are describing.

My content type is the following:

[code]

Then I created 2 Entries:

* Entry A: has only a reference to itself
* Entry B: has a reference to itself and to A

Then I proceeded to look into what the client retrieves

[code]

[2015-10-19 13:53] #56 closed

[2015-10-19 13:55] madtrick commented on #56
Hi @dlitvakb. This bug has more 8 months so I don't remember all the details involved so I can't help much. Also maybe something was changed in the meantime on the gem that fixed this behaviour.

Let's close it for now and reopen it if somebody complains again in the future.

[2015-10-23 10:05] dlitvakb commented on #69
Hey @toadle,

Thanks for your question, I'll take a look at it and get back to you shortly.

[2015-10-23 10:34] dlitvakb commented on #69
Hey @toadle,

You can follow this example, let me know if it's of any help:

[code]

The result of that should be something like the following:

[code]

Please let me know if this helps you.

[2015-10-23 11:45] toadle commented on #69
@dlitvakb Thanks, for the answer. The content-mapping thing is not really my problem. That is working without a problem.

My basic problem is to create the classes that I can insert into the content-mapping. I got factories for my tests working, by just doing this:

[code]

But I have to hack it with `initialize_with` otherwise it raises errors.

The basic question is, if the description in https:

[2015-10-23 13:06] dlitvakb commented on #69
@toadle if you take a look at the constructor for [`Contentful::Resource`](https://github.com/contentful/contentful.rb/blob/master/lib/contentful/resource.rb#L24), it is expecting a JSON object with an API-like formatted input.

I'll look into adding an empty default, as it seems that this is actually the expected behavior.

[2015-10-23 13:21] toadle commented on #69
@dlitvakb Thanks!
In my experience just including the `Contentful::Resource` module in any content-mapping-class is not enough and will result in the exception shown in my first post. There must be some dependency to `Contentful::Entry` which makes inheritance necessary.

Perhaps you could check that too. Otherwise

[code]

will not work, but

[code]

will.

[2015-10-23 13:45] dlitvakb commented on #69
@toadle

After merging #71 your issue will be resolved

[2015-10-23 14:02] toadle commented on #69
@dlitvakb Cool, thanks!

[2015-10-26 14:35] #69 closed

[2015-10-26 16:42] #68 closed

[2015-10-27 15:32] dlitvakb opened #73 "Fix Nested Locale handling"
Currently we have two ways of handling Locales

1. Entry#fields accept a Locale as a parameter and returns localized versions of the resources (Sync API only) #66
2. Each field on an Entry has a Hash with locales upon request with `locale: "*"` (`contentful_middleman` multiple locale support, it was needed that by default each entry would have locales readily available) #72

The second way was int

[2015-11-05 11:17] dlitvakb opened #74 "Update Documentation"
There are outdated links on class comments and some comments are oudated as well

[2015-12-03 14:19] #73 closed

[2015-12-03 14:37] toadle opened #79 "Custom-Resource Classes: undefined method `[]=' for nil:NilClass in resource_builder:182"
Hey guys,

thanks for releasing 0.7 and fixing my last issue #69 . Today I set off to give this a shot, but still am not able to figure this out correctly. Perhaps I'm still doing something wrong:

I have a custom-resource `Contentful::Category` like this:
[code]

where `Contentful::BaseEntry` looks like this:

[code]

All properties of `Contentful::Category` map to the attributes we have for our

[2015-12-03 15:01] dlitvakb commented on #79
Hey @toadle,

Your `BaseEntry` class should inherit from `Contentful::Entry` instead of including `Contentful::Resource`, or include `Contentful::Resource`, `Contentful::Resource::Fields` and `Contentful::Resource::SystemProperties`

Please let me know if that fixes your problem

[2015-12-03 16:12] toadle commented on #79
@dlitvakb Thanks for getting back!

Of course, that works. That is what I've been doing all along.
But as you can also see in #69 : I'm basically just doing this to get FactoryGirl running in order to be able to have a test-suite for our project.

Therefore I was hoping the `property :attribute` definition would somehow get me to being able to use `category.attribute` and `category.attribute=` syn

[2015-12-03 17:01] dlitvakb commented on #79
@toadle Yes, as you say that works, the thing is that for parsing the api_response['fields'], `Contentful::Resource::Fields` must also be included, as that is where those are coerced into properties.

`Contentful::Resource` only provides a one-level deep coercion of attributes, that, or you need to redefine the method `#fields_coercions`

Hope that helps

[2015-12-03 17:07] toadle commented on #79
But still, when doing

[code]

and having

[code]

Gives me

[code]

[2015-12-03 17:13] danihodovic commented on #79
You probably wanted to tag @dlitvakb :dancers:

[2015-12-03 17:15] toadle commented on #79
@danihodovic Whoops, sorry.

[2015-12-03 17:28] toadle opened #80 "Contentful::Entry-objects not dumpable"
Hey guys,

I'm sorry to bother you with another thing, but this is just the stuff coming up while working on our project.

I've been trying to **cache** certain objects retrieved with `contentful.rb` in order to make certain requests not hit the API all the time. Makes page-loads faster.

Therefore I wanted to put a `Contentful::Category < Contentful::Entry`-object into the Rails-Cache. In this pr

[2015-12-03 17:31] dlitvakb commented on #79
Hey @toadle

Don't mess with @danihodovic he is training boxing! :facepunch:

I'll look into it in more detail and try to reproduce it,

Can you paste me the JSON Preview for the Content Type you are using?

[2015-12-03 17:38] toadle commented on #79
JSON-Preview:
[code]

[2015-12-03 18:20] dlitvakb commented on #80
Hey @toadle,

Thanks for the input,

I've never personally tried to do such thing, so haven't come up with it.

I'll be looking into what's going on and how to fix it.

[2015-12-07 14:44] dlitvakb commented on #79
@toadle sorry for the delay on the response, I was sick on Friday.

I'll keep looking onto this, thanks for providing the JSON

[2015-12-07 16:00] dlitvakb commented on #79
Hey @toadle,

I found a solution,

You can currently use this workaround while I add it into the core library

The following code is a very simple local test I used for making your code work.

[code]

Currently it relies on defining the properties from the fields values, as DynamicEntry only defines that upon creation and it's static.

Solution will move the code I'm using for the workaround (whic

[2015-12-07 21:40] dlitvakb commented on #80
Hey @toadle,

I've just finished the PR that covers #79 and this issue.

We'll be merging this soon and getting a new release.

Until then, can you try using this branch and see if it covers your needs?

Please let me know if you need any further help.

[2015-12-08 08:19] toadle commented on #80
@dlitvakb Thanks for working on this so fast.
We just started a new sprint yesterday and left this out intentionally. But I'll figure this in and give you feedback!

[2015-12-08 17:17] toadle commented on #80
@dlitvakb I directly commented on https://github.com/contentful/contentful.rb/pull/81 .

[2015-12-08 21:09] lpender opened #82 "Link Not Resolving"
Wondering if you could double check that the gem is resolving `link`s for you correctly?

Here is the output of the object I am trying to resolve...

[code]

Here is the link source I believe it should correctly resolve to:

[code]

Here is the error:

[code]

Thanks!

[2015-12-09 11:36] dlitvakb commented on #82
Hey @lpender,

I'll be looking into this.

As for the image that should be displayed, it does not have the same ID as the asset you're saying that the link does not work for:

[code]

Please verify that the asset corresponding to that ID is correctly Published and not in Draft mode

I'll still be looking if this is possible for other cases

[2015-12-09 14:48] lpender commented on #82
Maybe it's a caching issue? It's the only image I have published.

[2015-12-09 14:51] lpender commented on #82
I'm getting a totally different response today from the same set of code.

[code]

Not sure how that happened but this appears to have a URL that I can work with.

Thanks!

[2015-12-09 14:51] #82 closed

[2015-12-09 15:06] dlitvakb commented on #82
Hey @lpender,

No problem!

Sometimes the Image API takes a bit longer to update as there is a Processing job in the background. Also CDN Caches sometimes have a bit of a delay when cleaning the cache after an update.

Cheers

[2015-12-22 17:54] #79 closed

[2015-12-22 17:54] #80 closed

[2016-02-03 16:13] #74 closed

[2016-02-03 16:13] dlitvakb commented on #74
Fixed by #85

[2016-02-16 16:33] cabouffard opened #86 "Progressive image loading unavailable"
Hi!

As per the [documentation][1], it seems like we should be able to send the flag `fl: progressive` to the api in order to retrieve a JPEG Progressive image.

When I look in the code from this gem, it seems like this key is not available and is being thrown out. I was wondering if this behavior was intended or if it is a mistake.

https://github.com/contentful/contentful.rb/blob/master/lib/cont

[2016-02-17 13:43] dlitvakb commented on #86
Hey @cabouffard,

We're looking into this,

Looks like the `#image_url` helper doesn't include that parameter, I'm talking with the API team on how it's best to include it.

In the meantime you can append it in your presentation layer.

Hope this helps,

Cheers

[2016-02-17 21:44] #86 closed

[2016-03-09 21:20] DanielWright opened #88 "Marshalling Contentful::Asset Objects"
Hi there,

I've encountered some difficulty marshalling `Contentful::Asset` objects nested within other `Contentful::Entry` objects returned by the gem. Here's some REPL code that should be illustrative:

[code]

Have you got any recommendations on marshalling these assets, or plans to support it in the future along the lines of #81?

Thanks for your help!

[2016-03-10 09:23] dlitvakb commented on #88
Hey @DanielWright,

This looks like something we need to take care of!

I'll look into it as soon as I can, but next release should definitely contain a fix for this.

In the meanwhile, if you are interested in contributing a solution yourself, you're more than welcome to do so.

I can guide you through the code if you need any help.

Cheers

[2016-03-31 18:44] cabouffard commented on #88
Hey @dlitvakb,

Has there been any progress on that?
When is the next release being planned to be release?

Thanks!

[2016-03-31 18:44] bryanmtl commented on #88
@dlitvakb Do you have a date in mind for the next release?

[2016-03-31 20:00] dlitvakb commented on #88
Hey @cabouffard,

Thanks for reminding me about this, we had a tight schedule on other things and this one slipped through the cracks.

I'll tackle this one between Monday and Tuesday.

Release should be done before Friday.

Cheers

[2016-04-06 08:25] #88 closed

[2016-04-08 17:10] aaromnido opened #92 "Issue in Middleman 4.0.0"
Hi guys,

**I'm trying to test your "contentful_middleman" extension in a MD 4.0.0 site.**

**I applied this in my Gemfile:**
gem "contentful_middleman"

**Then, "bundle install" an the shel (OS X terminal) rise next error:**
Bundler could not find compatible versions for gem "middleman-core":
  In Gemfile:
    contentful_middleman was resolved to 0.0.4, which depends on
      middleman-core (~> 3

[2016-04-08 17:52] dlitvakb commented on #92
Hey @aaromnido,

For Middleman V4 projects, you need to enter the following in your Gemfile:

[code]

For Middleman V3 projects, the correct `contentful_middleman` version is `'~> 1.3'`

Hope that helps,

Cheers

[2016-04-10 05:53] aaromnido commented on #92
Thanks ;-)

[2016-04-10 11:52] #92 closed

[2016-04-29 02:19] cabouffard opened #93 "The sync method is throwing "undefined method 'next_sync_url'""
Hi!

The sync method as started to fail for us. We are getting the following error:
`NoMethodError: undefined method 'next_sync_url' for #<Array:0x007f9955b2a408>` from `lib/contentful/sync.rb:82`

Here is how we are calling the sync
[code]
Where contentful is an instance of `Contentful::Client` object.

We run this task at least twice per day and it only started to fail today. Is there anything t

[2016-05-02 14:48] cabouffard commented on #93
Hey!

Any update on this? Can I provide you additional informations?

Thanks!

[2016-05-02 15:13] dlitvakb commented on #93
Hey @cabouffard,

I'll be looking into it.

One thing, the method `:each_time` doesn't exist, are you using `:each_item`??

I'll also escalate this to the API Team, as I saw a similar issue a while ago that was unrelated to the gem.

I'll get back to you shortly

[2016-05-02 15:14] cabouffard commented on #93
@dlitvakb My apologies, you're right, I meant `:each_item`.

Thanks a lot!

[2016-05-02 15:41] dlitvakb commented on #93
Hey @cabouffard,

I just tried running a Sync call with a Space with over 500 entries, and ran successfully with no error.

Could you provide some more context?

Which version of the gem are you using?

How do you initialize your client?

Cheers

[2016-05-03 15:22] cabouffard commented on #93
Here is how I initialize the client
[code]

`@client.sync(initial: true, type: 'Entry').each_item`
^ This returns me an array of 100 items then crashes with the following stack trace

[code]

As you can see I am the version `0.10.0` at `https://github.com/contentful/contentful.rb/commit/82950e733e3e972de6413345282d1cbae1467838`

I tried doing the following code above in a Rails Console and I was g

[2016-05-03 16:29] dlitvakb commented on #93
Hey @cabouffard,

I'm curious about 2 things that might be what's breaking this,

What's the custom mapping? If it is a proxy, there are specific proxy parameters.

Cheers

[2016-05-03 16:34] cabouffard commented on #93
@dlitvakb
Hey! My custom entry mapping is something similar of what the gem documentation says:

[code]
But I use the ID provided by Contentful and our own Class.

We are not using Proxy of any kind. Also, this errors started happening last week, and prior to that everything was working fine. Our implementation hasn't changed since then, which is what I find really weird.

[2016-05-03 16:58] dlitvakb commented on #93
Hmm, could you insert a debugger, and check if that array that's appearing there is a `Contentful::Array` or an `::Array`??

Maybe something having to do with the custom mapping is making it not able to resolve to the proper class

[2016-05-03 20:47] cabouffard commented on #93
You're right, disabling `entry_mappings` made the behavior return to its correct state. I am not being returned a `#<Contentful::SyncPage:0x3fd705efc434>` instead of an `::Array`

Sooo weird. I'll investigate further see if I can figure out what the problem is!

Thank you for suggesting that!

[2016-05-04 00:55] dlitvakb commented on #93
No problem, please let me know if you continue seeing a weird behavior.

[2016-05-04 15:35] cabouffard commented on #93
Problem solved, we were overwriting the `request.get` method to always return `request.get.items`, which in that case was an array.

The problem was not happening when directly assigning a hash to the `entry_mapping` field, but it was happening when we were assigning a method that would return a hash to the `entry_mapping`.

Overwriting the method caused a bunch of ghost issues!
Thank you for you

[2016-05-04 15:35] #93 closed

[2016-05-04 16:10] dlitvakb commented on #93
No problem! Glad you worked it out

Cheers

[2016-06-23 19:00] lukewduncan commented on #92
Praise the lord. Was looking for a fix for this. Thanks!

[2016-07-06 12:20] dlitvakb opened #95 "Includes not properly solved when missing Asset on a linked Entry"
This issue has been detected after a conversation with @chuise in https://github.com/contentful/contentful_middleman/issues/85

[2016-07-15 20:09] dlitvakb opened #96 "JSON Fields are not properly parsed"
Current workaround:

[code]

Will output the expected result

[2016-07-18 20:25] sbonami commented on #96
After spending a few minutes, I narrowed it down to about [this](https://github.com/contentful/contentful.rb/blob/fc5cc71ebd985d536857f1d961ac5e3f77062d7c/lib/contentful/resource.rb#L181) line for us.

[2016-07-18 23:12] dlitvakb commented on #96
Hey @sbonami,

Thanks for the input, it really helps in tracking down the issue

Cheers

[2016-07-28 00:56] dlitvakb opened #98 "If a field is nil for a specific locale, Entry gets into a corrupted state"
To fix, make sure that `Entry#fields` always at least returns an empty hash.

[code]

[2016-08-08 15:12] #98 closed

[2016-08-09 13:53] dlitvakb commented on #95
This has been solved with the latest release

[2016-08-09 13:53] #95 closed

[2016-08-12 10:59] kristian-elder opened #102 "Contentful does not work with latest Jekyll"
Not sure if this is an issue with Contentful or Jekyll, but I am unable to use Contentful (via either the Jekyll contentful-data-importer gem or jekyll-contentful) with Jekyll >= 3.1

Attempting to do so results in the server returning a Bad Request and the contentful client attempting to parse the resulting HTML as Json.

Attempting to troubleshoot the request going out via Charles Proxy, it appe

[2016-08-17 11:16] dlitvakb commented on #102
Hey @kristian-elder,

Could you open a ticket here: https://github.com/contentful/jekyll-contentful-data-import/issues and copy the contents of the `contentful` block in your `_config.yml` file obfuscating the access token and space id?

Please also include Jekyll version, and gem version you are using.

Cheers

PS: Closing issue here as it seems unrelated

[2016-08-17 11:16] #102 closed

[2016-08-23 16:00] dlitvakb commented on #96
This has been solved with #99, though JSON parsing is still not working as expected:

This example entry:

[code]

Is being resolved as:

[code]

Which has an incorrect value for the non-nested `array` field, and also nested object keys are stringified instead of symbols.

[2016-08-23 16:01] dlitvakb commented on #96
Renaming the issue to JSON Fields are not properly parsed, and continuing to find a solution.

[2016-08-24 08:58] #96 closed

[2016-09-19 11:32] Jonic opened #104 "Mapped dynamic entries "undefined method" error."
I've been trying to set up a mapped entry with `dynamic_entries: :auto`, but if I try to access any of the entry's fields in the view, I get `undefined method`. I'm using Rails 3 (don't ask) and `v1.0.0` of this Gem, here's my controller:

[code]

The `ContentfulPage` model:

[code]

The Entry returned from the API:

[code]

And the view that's trying to output the `title` field:

[code]

No matte

[2016-09-21 21:05] mikeyoungyoung opened #105 "JSON Conflict error with manually including JSON gem"
I have an issue using the contactful.rb gem.  Error below:
`/Users/michael.young/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.0/rubygems/specification.rb:2284:in`raise_if_conflicts': Unable to activate contentful-1.0.0, because json-2.0.2 conflicts with json (~> 1.8) (Gem::ConflictError)
    from /Users/michael.young/.rvm/rubies/ruby-2.3.1/lib/ruby/2.3.0/rubygems/specification.rb:1407:in `activate'
    fro

[2016-09-29 22:21] dlitvakb commented on #104
Hey @Jonic,

`Contentful::Entry` does not support field accessors, you have to either inherit from `Contentful::DynamicEntry` or avoid inheritance at all and use the built-in Contentful classes.

Unless you want to add custom behaviour, they should work out of the box.

In case of wanting custom behaviour, changing to inheriting `Contentful::DynamicEntry` should solve most of your problems.

Hope

[2016-09-29 22:23] dlitvakb commented on #105
Hey @mikeyoungyoung,

Sadly the fixed `json` dependency is in order to support older versions of Ruby.

We're considering removing this dependency and deprecating Ruby versions < 2.0 soon, but sadly this is not currently possible.

I'd recommend you to for the moment create a fork without this hard dependency and use it from there or use a local copy of the gem with the `json` dependency removed.

[2016-09-29 22:58] dlitvakb commented on #105
Hwy @mikeyoungyoung,

#106 removes the hard dependency on `json`.

Hope that helps

Cheers

[2016-09-30 09:13] Jonic commented on #104
@dlitvakb Hi David, thanks for that - unfortunately that's one of the things I've tried already, and I still couldn't get it to work!

What I've done instead is provided a list of fields for each class, and then during `initialize` I've looped through them and created dynamically named methods for each. That was the only thing I could think of to get it working for me!

If I've missed something ob

[2016-10-04 01:25] mikeyoungyoung commented on #105
perfect! works for me

[2016-10-04 13:37] dlitvakb commented on #105
@mikeyoungyoung we will be releasing today, only a very small refactor pending after review 😄

[2016-10-04 15:33] dlitvakb commented on #105
@mikeyoungyoung `1.0.1` has been released 😄

Cheers

[2016-12-01 11:36] felixjung opened #109 "Contentful.rb breaks if a content type has a field called 'locales'"
Hey,

Today, I updated the Jekyll Contentful plugin which depends on this project. After the update the data import from Contentful was broken. I would always receive an error

which of course tells you, you're trying to loop over a collection, when in fact you don't have a collection, but rather `nil`. Later I also encountered the variation

After spending quite some time debugging this, I found

[2016-12-01 12:38] dlitvakb commented on #109
Hey @felixjung,

As always, thanks for your contributions.

This is indeed a serious issue, if you found a temporary solution, that's awesome.

That said, I noticed this issue too very recently, as I just finished implementing the Python equivalent SDK, and locale management is done very differently than here, in a more simplified way, which solves this kind of issues, along with other issues disc

[2016-12-01 13:05] felixjung commented on #109
👍

[2016-12-05 11:27] felixjung commented on #109
Today, I ran into a similar problem. I had created a content type called Website with the following JSON structure:

[code]

The idea was to allow content creators to specify the company websites (domains) an entry of other content types (for example `Landing Page`) should be available on by adding entries of the Website content type as references.

When I tried to pull our space using the Jekyll

[2016-12-05 12:23] dlitvakb commented on #109
Yes, this is happening because the library is looking for `sys.locale` using a shortcut that then gets overwritten by your field. This is currently a known issue.

Next week I'm going to be in the office and the matter of an SDK re-write is going to be debated during planning on Monday.

I'll keep you posted.

Cheers

[2016-12-14 08:15] Frexuz opened #110 "Marshalling issue with Contentful::Asset"
Seems that marshalling doesn't work on `:header_image=>#<Contentful::Asset:` , but seems #83 and #90 are supposed to fix this? Any ideas?

`irb(main):014:0> posts = client.entries(content_type: 'blogPost')`

`irb(main):015:0> dump = Marshal.dump(posts.first)`

`irb(main):016:0> Marshal.load(dump)`

irb(main):017:0>
[code]

[2016-12-16 10:32] #110 closed

[2016-12-22 12:51] #105 closed

[2016-12-22 12:53] dlitvakb commented on #109
Work on this has been started on #113

Cheers

[2016-12-22 19:58] sebbean opened #115 "what exactly do you pass into client.asset(?)"
tried passing the asset class with no luck. do i send the id? the url?

[2016-12-23 13:46] dlitvakb commented on #115
Hey @sebbean,

You send the ID, for further documentation: https://github.com/contentful/contentful.rb#assets and http://www.rubydoc.info/gems/contentful/1.2.1/Contentful/Client#asset-instance_method

Cheers

[2016-12-26 19:42] cristianogregnanin opened #116 "Query for a specific resource "post""
I want to query a specific content type: Post. I recive a 404.
[code]

But if I query for all content types it works:

[code]

How can I query for only the Post resource???

[2016-12-27 00:13] dlitvakb commented on #116
Hey @cristianogregnanin,

Looks like the ID for your Content Type is `5KMiN6YPvi42icqAUQMCQe`, therefore the query should be: `client.content_type('5KMiN6YPvi42icqAUQMCQe')`.

Cheers

[2016-12-27 19:09] cristianogregnanin commented on #116
@dlitvakb

I have tried but the result is not correct for me:

[code]
I need to fetch all posts.

This is my Content model:

![schermata da 2016-12-27 20 07 27](https://cloud.githubusercontent.com/assets/3127475/21506391/2abe516e-cc70-11e6-92ef-f3e1d5848859.png)

and there are all my posts:

![schermata da 2016-12-27 20 09 07](https://cloud.githubusercontent.com/assets/3127475/21506414/59e3ac78-cc

[2016-12-27 20:02] sebbean commented on #115
@dlitvakb heyo! yea the readme showed me that that command existed. Just doesnt really say anything about the 'id' being what you pass. just uses some random string 'happycat'.

oo that second link! thanks.

[2016-12-27 20:02] #115 closed

[2016-12-28 02:02] dlitvakb commented on #116
Hey @cristianogregnanin,

Looks like I looked at the wrong ID, to check your Content Type's IDs you can go in the Web App to: `APIs` -> `Content Model Explorer` -> `Post` -> The ID should appear in the row corresponding to it, and clicking on it will copy it to your clipboard. With that then you can query for that specific content type.

Also, looks like you're using the Blog Space Template, which

[2017-01-02 20:00] dlitvakb commented on #116
Closing this issue.

Cheers

[2017-01-02 20:00] #116 closed

[2017-01-02 20:02] dlitvakb opened #117 "Since Release 1.0.0 Symbol field handling is different for empty strings"
Observed on our `marketing-website` when transitioning from `0.8` to `1.1`.

Tests still need to be created around this.

[2017-01-02 20:21] dlitvakb commented on #117
This has been tested with a pristine space with 3 symbol fields, one filled, one empty (via CMA), one nil. All 3 checks properly passed.

[code]

Awaiting on more input from the marketing team to pinpoint their issue.

[2017-01-02 23:41] cristianogregnanin commented on #116
Thankyou very much.

cheers

2017-01-02 21:00 GMT+01:00 David Litvak Bruno <notifications@github.com>:

--
Ing. Cristiano Gregnanin
cristianogregnanin.com

[2017-01-03 09:26] realityking commented on #117
Looking at your test entry it looks like this (from the CDA)

[code]

However in the marketing website the field with issues looks like this

[code]

Note that the value is a literal `null`.

[2017-01-03 12:32] #117 closed

[2017-01-07 13:24] dlitvakb commented on #109
@felixjung #113 is mostly done, wanna check it out?

Cheers

[2017-01-09 10:22] felixjung commented on #109
Thanks @dlitvakb. I will take a look once I'm done with some stuff on the contentful-batch-libs 😉

[2017-01-19 18:18] #104 closed

[2017-01-19 18:18] #109 closed

[2017-01-20 02:11] alvindu-pw opened #119 "Obtain entries by version?"
Would be nice to be able to get an entry via snapshot id/version/revisions/. Any chance this will be supported?

[2017-01-20 10:48] felixjung commented on #109
Yay 👍

[2017-01-20 11:12] dlitvakb opened #120 "2.0.0 Feedback Appreciated"
Hello SDK Users,

I would appreciate if you could take a minute to drop your feedback regarding the 2.0.0 version of the SDK currently present on the `master` branch.

It has not yet been released to RubyGems, I'm waiting for some real use feedback.

## Installation

In your `Gemfile` update to use upstream version from this repository:

`gem 'contentful', github: 'contentful/contentful.rb'`

## B

[2017-01-20 11:12] dlitvakb commented on #109
Hey @felixjung,

The 2.0.0 version was merged to master, and not yet released.

We're looking for some real user feedback, would you like to try it out? If so, please add your feedback here: https://github.com/contentful/contentful.rb/issues/120

Cheers!

[2017-01-20 11:21] dlitvakb commented on #119
Hey @alvindu-pw,

This feature only exists in the Management API, so it cannot be added here.

Cheers

[2017-01-20 13:05] felixjung commented on #109
Hey @dlitvakb, I would really like to, but I'm working on some other things right now (upgrading content model, migrating content between spaces, fun... 😕) and I don't know when I can make time to test it.

Also, not we're only using this through the Jekyll integration. Judging by the list of breaking changes, I assume I could just upgrade the dependency in the contentful-data-import plugin to use

[2017-01-20 14:07] dlitvakb commented on #109
Yup, it should work, as none of those are affecting the plugin.

Cheers

[2017-02-22 18:02] pmoore commented on #120
Doesn't look like this version is compatible with the current master version of contentful_model, as it requires ~> 0.9 of contentful.rb.  Is there a plan to update contentful_model (and contentful_rails) to a new supporting version?

[2017-02-22 18:50] dlitvakb commented on #120
Hey @pmoore, Yes! There is.

We're waiting for some more user feedback before making this release official.

After that's done, focus will shift onto updating all libraries and integrations using this gem to use the new simplified gem.

Cheers

[2017-03-02 13:03] #119 closed

[2017-03-07 11:43] andyentity opened #122 "Add File/Tempfile capabilities to Contentful::File"
Hello people,

good SDK so far.
I am currently working with assets such as Rich Text Documents which I am downloading in order to process them afterwards.

Since the `Contentful::Array` behaves like a proper Enumerable it could be assumed that `Contentful::File` might also be used like a normal `File`, that is, you can `open` it (read-only) and then `read` from it etc. and `unlink` it again afterw

[2017-03-08 06:17] sebbean opened #123 "ability to upload asset"
possible in CMA but doesnt seem to be in this gem

[2017-03-09 09:18] dlitvakb commented on #123
Hey @sebbean,

I'm going to be implementing this during the next week. Stay tuned for updates

Cheers

[2017-03-09 20:09] sebbean commented on #123
aweeeeeeeee yeaaaaaa.

[2017-03-09 22:15] steakchaser opened #124 "Infinite loop / stuck process printing response to stdout / console"
Hi.  We have a content structure that contains possible circular references.  i.e. Entry 1 -> related entries -> Entry 2 -> related entries -> Entry 1

In the API call, we are specifying an `include = 3`, so technically this circular referencing should be terminated after 3 levels deep.  The API call works fine and we can parse the response fine in code.  BUT, if you attempt to `puts` the response

[2017-03-15 01:34] sebbean commented on #120
Caching is my number one priority at the moment as we're using contentful within an API response so we're unable to use rails russian doll caching.

[2017-03-15 05:42] dlitvakb commented on #120
Hey @sebbean can you share more of your issue? I'm going to add today a way to customize depth of the include resolution tree, to greatly increase speed of caching.

Cheers

[2017-03-15 20:01] sebbean commented on #120
So i'm tightly integrating contentful models with active record models that power a pure API.

Any caching mentioned in these gems seems to only happen within the rails templates _after_ the initial call to contentful is made.

The api is hit quite a bit and i'm weary of blowing through our api limits if i'm unable to wrangle the responses into a proper cache. Especially considering we have the we

[2017-03-16 09:19] dlitvakb commented on #123
I'm starting development on this right now 😄

I'll let you know once the PR is created

Cheers

[2017-03-16 09:30] dlitvakb commented on #124
Hey @steakchaser,

Which version of the SDK are you using? If using master, please update to the latest version of master, and reduce the client configuration parameter `max_include_resolution_depth` to a value equal or greater than your maximum `include` level. This will avoid resolving circular references for a long time.

The current default level is 20, and if you have circular references, on

[2017-03-16 16:36] plexus commented on #53
I know this is an old thread, but I just ran into this today, trying to implement Contentful caching for a client.

We're using ContentfulModel, and these can be marshalled and cached fine, but they might have associations that are dynamic.

It turns out there's actually a fairly easy fix. `DynamicEntry.create` does this

[code]

This class is anonymous, and so Ruby will refuse to Marshal it. You

[2017-03-16 16:50] dlitvakb commented on #53
Hey @plexus,

Thanks for the heads up regarding the 1.x possible fix.

Currently, I would argue in favor of moving to 2.0 (which will be released next Tuesday), in which Entries are no longer anonymous classes and simplify much of their behavior. There is a very small caveat regarding include resolution strategies in cases you have circular references, as there is no longer an entry-level cache, b

[2017-03-16 18:48] steakchaser commented on #124
@dlitvakb Thanks for that!  Works great.  Definitely looking forward to this being in the next release.  Nice work.

[2017-03-17 22:58] sebbean commented on #123
need to migrate a buunch of images from old system to contentful. curious if it makes sense to make a rake task to just "get er done" or hold off for a few days and test out this new feature of yours.

related: if you want me to test out your progress id love to be your guinea pig 😄

[2017-03-18 07:46] dlitvakb commented on #123
Hold off for a few days, you'll be very pleased :D (or if you want to try it out with python, you can do it right now! https://contentful.github.io/contentful-management.py/#uploads

[2017-03-22 19:33] jedschneider opened #125 "Number data type not coerced"
create a new space, use the product catalog bootstraped data model

![image](https://cloud.githubusercontent.com/assets/82204/24216767/be2ce51a-0efa-11e7-8ee2-68c5641c2546.png)

Validate the price on the product data type is a Decimal Number

![image](https://cloud.githubusercontent.com/assets/82204/24216796/db888060-0efa-11e7-95c2-d36d9c299d84.png)

with the ruby client bundled from master on thi

[2017-03-29 22:50] ramatevish opened #126 "Sync API doesn't respect `max_include_resolution_depth` parameter"
Using 2.0.0

Steps to reproduce:
[code]

[2017-04-04 17:25] dlitvakb commented on #122
Hey @andyentity,

Thanks for the request, but I'll have to decline it, as this request would require something like [OpenURI](https://ruby-doc.org/stdlib-2.2.0/libdoc/open-uri/rdoc/OpenURI.html) which is considered insecure.

If you know of a safe alternative we can use, feel free to suggest it.

Cheers

[2017-04-04 17:26] dlitvakb commented on #124
This has now been released.

Cheers!

[2017-04-04 17:26] #124 closed

[2017-04-04 17:27] dlitvakb commented on #120
2.0.0 has been released! 🎉

Closing this issue now

[2017-04-04 17:27] #120 closed

[2017-04-04 17:29] dlitvakb commented on #123
This is still being worked on, had a few issues with the HTTP layer of the management gem. Working on solving them, but right now focusing on a different issue to get my mind a bit refreshed.

I'll update you when this is done.

Cheers

[2017-04-04 17:30] dlitvakb commented on #125
Hey @jedschneider,

Thanks for noticing this, I'll look into fixing this ASAP.

Cheers

[2017-04-04 17:31] dlitvakb commented on #126
Hey @ramatevish,

Thanks for noticing this, I'll include it in our backlog.

Cheers

[2017-04-04 17:33] dlitvakb opened #129 "Asset are not creating File objects for files that are not the default locale"
Assets are not properly coercing files in all locales to `Contentful::File` objects, only the default locale.

Example:
[code]

[2017-04-04 20:22] sebbean commented on #123
thanks bud! lmk if you want me to look anything over. i've had a bit of ssl esperience here and there

[2017-04-05 15:37] #125 closed

[2017-04-06 18:09] #129 closed

[2017-04-11 11:21] plexus opened #132 "Contentful::Array doesn't marshal/unmarshal properly"
`Contentful::Array` inherits from `Contentful::BaseResource`, which implements custom `marshal`/`unmarshal` hooks.

Array uses several instance variables not present in its superclass, so after unmarshalling you end up with a broken instance.

I'm working around it now with this monkey patch, but would be great if this could be addressed.

Thanks!

[code]

[2017-04-19 14:45] felixjung opened #134 "Breaking change with snakified IDs"
Hey @dlitvakb, when trying your fix in #133 I noticed that our build is still broken. While pulling content using the Jekyll plugin now works, it seems that all IDs are now snake-cased rather than camel-cased.

This breaks our entire front-end as our templating relies on the IDs to be the same as in the API.

Is this done so on purpose? I find it quite counter-intuitive that the API behaves differ

[2017-04-19 15:03] felixjung commented on #134
PS: I could not find this in the [list of breaking changes](https://github.com/contentful/contentful.rb/blob/master/CHANGELOG.md#200) for 2.0 😉

[2017-04-19 15:31] dlitvakb commented on #134
Hey @felixjung,

This is by design, looks like I forgot to add it to the list, all properties now match accessors.

It makes mapping way easier to maintain, before there were 2 separate places in which properties were stored `@properties` and `@fields` and there was a correlation between those required in order to keep the original ID. Now by making sure that the internal representation and the ac

[2017-04-19 15:31] #134 closed

[2017-04-19 15:35] felixjung commented on #134
Thanks 👍

[2017-04-19 15:37] dlitvakb commented on #134
Done 😄

[2017-04-24 13:03] dlitvakb commented on #132
Hey @plexus,

Thanks for noticing this, I'll be taking care of it within the next 2 weeks.

Cheers

[2017-04-24 13:18] plexus commented on #132
Great, thanks a lot! Just FYI in the end we went with this patch, it plays better with the changes to marshaling in the latest version of contentful.rb

[code]

[2017-04-24 14:14] dlitvakb commented on #123
Hey @sebbean,

Issues have been found and fixed, Upload API is now ready for merge 😄  just waiting on review.

Cheers

[2017-04-24 18:13] dlitvakb commented on #132
Hey @plexus,

The fix came way earlier :) Just looking for a reviewer from my team to merge, thank you very much for the help.

Cheers

[2017-04-25 12:44] #132 closed

[2017-04-26 13:02] #123 closed

[2017-05-30 23:47] rivendare opened #138 "Inconsistent API Results"
We're using Contentful on our Production environment to fetch an entry (which has various nested containers / entries) to populate our home page, but today we had an issue that took down our site: one of the entries within one of the nested containers is returning a Contentful::Link instead of the expected Contentful::Asset (which it had been returning previously).

As expected, this caused a sudd

[2017-06-06 16:24] dlitvakb commented on #138
Hey @rivendare,

Looks like your Asset has been unpublished, the CDA does not return unpublished Assets/Entries, while CPA does.

Cheers

[2017-06-28 13:20] rohanschari commented on #105
After executing calabash-android run test.apk

Unable to activate calabash-android-0.9.0, because json-2.0.2 conflicts with json (~> 1.8) (Gem::ConflictError)
/usr/local/rvm/rubies/ruby-2.4.0/lib/ruby/site_ruby/2.4.0/rubygems/specification.rb:2288:in `raise_if_conflicts'
/usr/local/rvm/rubies/ruby-2.4.0/lib/ruby/site_ruby/2.4.0/rubygems/specification.rb:1408:in `activate'
/usr/local/rvm/rubies/rub

[2017-06-29 23:01] dlitvakb commented on #105
Hey @rohanschari,

Looks like your issue is with either `cucumber` or some other gem, there's no hard requirement on the `json` gem any more.

Either update to a newer version or make sure that there's no other conflicting gem in your project.

Cheers

[2017-07-07 17:44] FayeFang opened #141 "How to query by content_type and fields name?"
I have read through the API documentation and cannot find a good way to query.

I have tried
`client.entries('content_type' => 'abc', 'fields.a' => 'abc') ` and got error.

In addition, what if the field is an entry of another content type?

Help is much appreciated!

[2017-07-07 18:11] dlitvakb commented on #141
Hey @FayeFang,

Your way should work, a shorter version is:

[code]

Could you share what the error is?

Cheers

[2017-07-07 18:15] FayeFang commented on #141
Yep yep. Trying to query by field title and title field do exist.

[code]

[2017-07-07 18:16] FayeFang commented on #141
Also, how should I query if the field is an Entry of another content type?

[2017-07-07 18:20] dlitvakb commented on #141
Hey @FayeFang,

Can you open a support request and request for my help? We can move forward from there.

As for the relational query, you can take a look here: https://www.contentful.com/developers/docs/references/content-delivery-api/#/reference/search-parameters/search-on-references, there is an example using the Ruby SDK.

Cheers

[2017-07-07 18:24] FayeFang commented on #141
Cool thanks! request submitted.

[2017-07-10 16:49] colepatrickturner opened #142 "[Feature Request] Disable snake_case"
I'm working with Contentful -> Ruby -> JavaScript and I've designed my schema according to how the editor encourages which is camelCase.

The v2 Ruby client automatically rewrites all the keys as snake_case. I understand why this is done for the sake of Ruby convention but when working with an API/schema - one would expect the format to be consistent across languages.

Can we please have an option

[2017-07-10 18:11] dlitvakb commented on #142
Sounds like something that could be implemented.

I'm going on vacation for the next few weeks, but I'll add it to our backlog for when I'm back.

Cheers

[2017-07-10 18:33] colepatrickturner commented on #142
Thank you 👍

[2017-07-21 17:59] hugobast commented on #138
I have this issue currently but it only appears when we put a cache on an object. When I receive this object from contentful directly I get an `Asset` when it's a cache hit I sometimes get an `Asset` but some other time I get a `Link`. This is quite apparent because out of a collection of two _things_ one has an image of type `Asset` while the second has an image of type `Link`. This is really pro

[2017-07-21 18:33] hugobast commented on #138
More data on this:

[code]

[2017-07-24 02:57] hugobast commented on #138
I've delved into this some more over the week end, I clearly see two instances of `Contentful::Asset#marshal_dump` called instead of the expected four. I don't know where to look next, in `Contentul::FieldsResource#marshal_dump` if I print the value of `raw_with_links` I can clearly see for both `rollovers` that I have `image1` and `image2` of type `Contentful::Asset`. Yet when the dumping is done

[2017-07-25 20:16] dlitvakb commented on #138
Found the cause of this issue,

About to release a patch.

Cheers

[2017-07-25 20:28] #138 closed

[2017-08-03 16:17] #141 closed

[2017-08-24 22:12] joshiefishbein opened #147 "Asset Retrieval 404"
I am attempting to retrieve a specific asset using `@client.asset(<asset_id>)` however it returns a 404:

    Contentful::NotFound: The resource could not be found.
    from /Users/joshiefishbein/.rvm/gems/ruby-2.3.1/gems/contentful-2.1.1/lib/contentful/client.rb:321:in `fail_response'

When I pry open `@client.assets` I see the asset there in the array when I map it. I copy and paste that individ

[2017-08-25 00:32] dlitvakb commented on #147
Hey @joshiefishbein,

Can you open a support request at https://support.contentful.com/hc/en-us ?

There we can better help you with your issue.

Cheers

[2017-09-20 05:02] natsumi opened #148 "Empty Date Time field causes TypeError"
An empty datefield will cause a typeerror.  Same issue as #18

[2017-09-20 09:37] dlitvakb commented on #148
Hey @natsumi,

Could you please let me know which version of the gem are you using?

Also, do you have a code snippet to reproduce this issue?

Cheers

[2017-09-20 17:13] natsumi commented on #148
I'm using version 2.1.0 but the issue persists even with 2.1.3.  I'm just running a basic filter:
[code]
However, one of the entries come back with a nil date time field (which is not required) and it causes line 62 in lib/contentful/coercions.rb to throw a TypeError because value is now nil.

[2017-09-20 17:20] dlitvakb commented on #148
Hey @natsumi,

This looks like it may indeed be a bug,

I'll take a look into it and check what may be happening.

Cheers

[2017-10-06 19:33] monkseal commented on #142
👍  would love to have this option.

[2017-10-06 19:42] johnnyiller commented on #142
👍  Agreed

[2017-10-06 20:14] dlitvakb commented on #142
Hey there,

I've just finished a bunch of feature additions for the CMA SDK which will be released on monday.

I'll talk with my PM about prioritizing this feature.

You should be expecting it within this month.

Cheers

[2017-10-06 20:15] monkseal commented on #142
@dlitvakb Thanks! 🎉 🍇 🏄

[2017-10-12 19:02] #142 closed

[2017-10-12 19:03] dlitvakb commented on #142
This has been merged to master.

That said, this won't be released for a few weeks until I add a few other improvements.

Cheers

[2017-10-23 14:48] grumpyoldman-io commented on #147
Heya, I'm also running in to this problem. Perhaps you can share the solution here in public so others can solve it as well. Thanks!

[2017-10-23 15:18] joshiefishbein commented on #147
@grumpyoldman-io a few different things were causing this for me:

1. I made the request for the `link` before it propagated throughout the Contentful CDN network. So when I first hit a 404 for the entry (after immediately refreshing) the client cached that 404 response. As soon as I modified the query it started working again because it was technically a new, clean query to fetch.

2. The CDN too

[2017-10-23 15:19] dlitvakb commented on #147
Hey @grumpyoldman-io,

Could you also send a support request?

This is not an SDK related issue, and should be dealt with in a case by case basis.

The above issue was a caching issue, they requested the asset in an extremely short window between a cache flush and the cache population, and the cache stored the 404 response.

Easiest way to solving it is to publish anything either through the WebAp

[2017-10-23 15:20] dlitvakb commented on #147
Yup, exactly as @joshiefishbein said.

[2017-10-23 15:31] grumpyoldman-io commented on #147
thanks! I do fire a request immediately after getting a webhook, I will try adding a small delay and other solutions. If that doesn't work I'll contact support.

[2017-10-23 15:46] dlitvakb commented on #147
Hey @grumpyoldman-io,

There's usually about a 3 to 5 second delay between the webhook is triggered and the resource is available.
This is something that may be increased in case that your space is exceeding the tens of thousands of entries.

Cheers

[2017-10-24 12:41] dlitvakb commented on #142
This has been released in version `2.2.0`.

Cheers

[2017-10-31 17:45] lucke84 opened #153 "No count method, nor a way to paginate requests"
It seems that by default there's a limit applied to each query (which makes sense for performance reasons, although it doesn't seem to be documented anywhere?).

At the same time, I would expect to have:
- a method to get a count of how many items (for a given query, for instance a certain content type) are currently present in a space
- a way to paginate the requests (for a given query)

I couldn

[2017-10-31 19:42] dlitvakb commented on #153
Hey @lucke84,

All collection endpoints accept a `limit` and `offset` parameter, which allow you to control the amount of resources returned, it's recommended to use the `order` parameter if you're paginating your content. You can find more info here: https://www.contentful.com/developers/docs/references/content-delivery-api/#/introduction/collection-resources-and-pagination

Also, `Contentful::Ar

[2017-11-04 15:55] lucke84 commented on #153
Hey @dlitvakb, thanks for your reply!

I have to admit I mostly looked into the `examples` folder of this repo. I understand how it works now, I'd recommend to add some pointers for people that like me will look first in the codebase; a link in the README or another example query for the usage of pagination would be very useful.

[2017-11-22 15:34] mmplisskin opened #155 "Documentation on site is different"
https://www.contentful.com/developers/docs/references/content-management-api/#/reference/entries/entries-collection/get-all-entries-of-a-space/console/ruby

A lot of these docs are different, it makes this sdk difficult to use.

[2017-12-02 02:56] ejlax opened #156 "Response time is very slow compared to the same request using Typhoeus"
It seems that making a simple entries query using this library is much much slower than using a regular rest gem like Typhoeus. I can make the same call and get back the entries in roughly 1 sec compared to 15 when using this gem. Is anyone else noticing this slowness?

[2017-12-02 08:14] dlitvakb commented on #156
Hey @ejlax,

Looks like you may have your content with many circular references, that's causing the link resolution engine in this gem to have exponential resolution times because by default it tries to solve up to the 20th level - in order to allow to have elements up to the maximum nesting allowed by the API on a request, which is 10, and have that last element properly solve all it's reference

[2017-12-02 08:15] dlitvakb commented on #156
For more info, check this issue out: https://github.com/contentful/contentful.rb/issues/124#issuecomment-287002469

[2018-01-10 10:37] mickeyren opened #157 "draft or missing contents are still being pulled in"
when a content is for example missing:

![2018-01-10 at 6 34 pm](https://user-images.githubusercontent.com/175045/34768139-f8c7f468-f634-11e7-81c8-477ec37efe1b.jpg)

or in draft mode, but they are associated to another model that is being fetched, these associated contents are also being included and end up as just being`Contentful::Link`.

Is this the desired behaviour? I would imagine that if th

[2018-01-18 03:15] monkseal commented on #157
Yeah, it would be nice if the link had something like `unpublished?`...

[2018-01-22 20:22] mmwtsn opened #159 "What is the recommended way to present an entry along with all its linked fields?"
Let's say I have a content type called "book" that has a title, a published date, and a link to an author entry. Is there a way to present the entry and all linked entries as a hash or as JSON?

Basically, I want to do the following:

[code]

Calling `entry.fields` gives you the fields but does not resolve the linked entries automatically:

[code]

If you call `entry.to_json` or `entry.as_json` yo

[2018-01-25 14:55] jacobduursma commented on #148
Hey @dlitvakb

Not sure if you had time to fix yet? Looks like the bug is still there, just been having the same issue (version 2.3.0).

Cheers

[2018-01-29 11:21] barraq opened #160 "Fetching entries from `client.entries` or `sync.each_item` yields different Entry objects"
Entries, i.e. resources of type `Contentful::Entry`, can be fetched in different ways (see below). However, depending on the method used to fetch them, the `Contentful::Entry` object returned are not identical: at least they behave differently.

Lets `E` be an entry with `entry.id = A96usFSlY4G0W4kwAqswk`. The two methods below behave differently:

**(1) Using `client.entries`**

[code]

With this

[2018-02-05 05:28] Frexuz opened #162 "SystemStackError when calling to_json"
[code]
Now sure why :)

[code]

Getting around it using ActiveModelSerializer

[2018-02-06 14:01] #148 closed

[2018-02-06 14:02] dlitvakb commented on #155
This SDK is the Delivery SDK, you're looking for the docs of the Management SDK, which can be found in github.com/contentful/contentful-management.rb

[2018-02-06 14:03] #155 closed

[2018-02-06 14:04] dlitvakb commented on #157
This is something we're looking into adding, though it relies on something that's undocumented. So we're looking for the best approach to do this.

Cheers

[2018-02-15 18:25] JohanBengtsson commented on #162
Heym we are also running into this issue, but we are happy to hear you go around it using `ActiveModelSerializer`. Can you describe your solution a bit more and how you go it to work? Thanks! @Frexuz

[2018-02-20 05:09] Frexuz commented on #162
I had to return the `raw` method for each post. This unfortunately doesn't work well if you have associations. But if you don't here's what I did:

[code]

and
[code]

[2018-02-27 13:47] dlitvakb commented on #160
Hey @barraq,

Sorry for the delay in answering this question,

The Sync API returns the same resources as if you would do a request to the Entries endpoint with the `locale: '*'` parameter. That's the difference you're noticing.

Cheers

[2018-03-01 15:01] dlitvakb commented on #157
Update on this,

This will be added next week, and it will be the default behaviour of the SDK.

Cheers

[2018-03-05 15:25] dlitvakb commented on #159
Hey @mmwtsn,

You can do this with `#raw`.

Hope this helps,

Cheers

[2018-03-05 15:46] #157 closed

[2018-03-14 17:11] tomzilla commented on #162
seeing the same issue when a field contains a nested object.

[2018-03-15 10:01] dlitvakb commented on #162
Hey @Frexuz, @tomzilla and @JohanBengtsson,

This issue is because of how ActiveSupport monkey patches objects.

You can solve it by adding in your Contentful initializers the following:

[code]

Hope this helps,

Cheers

[2018-03-22 18:52] ejlax opened #168 "Entry's content causing exception in returning results"
I am making a call to the entries api:

$cms.entries(query: 'acronym')

The returned entry contains a json object in the fields but it throws an exception:

NoMethodError: undefined method `to_sym' for {"last_name"=>"Washington"}:Hash
from /Users/eadams/.rbenv/versions/2.2.7/lib/ruby/gems/2.2.0/gems/contentful-2.1.3/lib/contentful/coercions.rb:85:in `block (2 levels) in symbolize_recursive'

Any c

[2018-03-22 18:55] ejlax commented on #168
Closed! updated my gem to 2.5.0 and this appears to be resolved!

[2018-03-22 18:55] #168 closed

[2018-03-31 17:01] Frexuz commented on #162
Thanks :) Can close issue, from my point at least.

[2018-04-03 08:20] JohanBengtsson commented on #162
Sounds good to me too! thanks!

[2018-07-19 04:11] incraigulous opened #174 "Unpublished link drafts should be filtered from content delivery api responses"
if a content manager ignores the warning about publishing and item with linked drafts, and published anyway, the draft still shows up in the content delivery api. I was checking for `item.content_type.id`, and it took down a page on our site because that didn't even exist on the draft item that made it into our results.

I would think the expected functionality would be that unpublished items neve

[2018-07-19 08:12] dlitvakb commented on #174
Hey @incraigulous,

Which version are you using? This has been automatically done since version [2.5.0](https://github.com/contentful/contentful.rb/blob/master/CHANGELOG.md#250).

Cheers

[2018-07-19 14:18] incraigulous commented on #174
Looks like we're using 2.8.0.

[2018-07-20 13:24] dlitvakb commented on #174
Hey @incraigulous,

This indeed seems like there may be a bug.

Could you open a support request at https://support.contentful.com and provide the Delivery Key and Space ID, so that our support engineers can look further into your specific case?

Cheers

[2018-07-20 14:11] incraigulous commented on #174
Sure thing @dlitvakb! I'll make that support ticket tonight!

[2018-07-25 09:56] azelenets opened #175 "Support NOT IN search queries"
Please add support to use NOT IN search queries:

[code]

[2018-07-25 09:57] azelenets opened #176 "Support search on model references"
[code]

[2018-08-01 09:27] dlitvakb commented on #153
Hey @dagumak,

The easiest way to paginate is to use something like follows:

[code]

Hope this helps,

Cheers

[2018-08-02 09:25] dlitvakb commented on #176
Hey @azelenets,

Is this issue referring to the `contentful_model` gem? Otherwise I'm a bit confused on what you're trying to request.

Cheers

[2018-08-02 09:25] dlitvakb commented on #175
Hey @azelenets,

Is this issue referring to the contentful_model gem? Otherwise I'm a bit confused on what you're trying to request.

Cheers

[2018-08-02 09:26] #162 closed

[2018-08-02 09:26] #160 closed

[2018-08-02 09:27] #159 closed

[2018-08-02 09:27] #156 closed

[2018-08-02 09:28] #147 closed

[2018-08-02 09:36] #126 closed

[2018-08-02 09:37] #122 closed

[2018-08-14 21:14] damireh opened #177 "Draft entries returned by Content Delivery API"
I have an entry that references other entries but the API is returning the draft referenced entries as part of the response; and I was under the impression it would only return published entries unless you use the preview api/token?

<img width="779" alt="screenshot 2018-08-14 23 08 45" src="https://user-images.githubusercontent.com/429845/44118611-0507cdca-a017-11e8-86fb-b2c6be9d2610.png">

In th

[2018-08-15 08:17] dlitvakb commented on #177
Hi @damireh.

Which version of the SDK are you using?

Cheers

[2018-08-15 08:29] damireh commented on #177
contentful (2.8.0)

[2018-08-15 08:53] dlitvakb commented on #177
Can you share how you're instantiating the client?

Cheers

[2018-08-15 08:59] damireh commented on #177
[code]

And im fetching the entries like so

[code]

[2018-08-15 09:26] dlitvakb commented on #177
Hey @damireh,

Could you create a support request in https://support.contentful.com and request for my help?

I'll need you to send your access token, space ID and environment ID so that I can test this properly.

As this issue shouldn't be happening since the release of version 2.5.0.

Cheers

[2018-08-15 09:35] damireh commented on #177
Will do 👍 Thank you

[2018-08-15 09:35] #177 closed

[2018-09-14 18:57] mrispoli24 opened #182 "Gem strips markdown from text fields"
I'm finding that this gem is stripping out the markdown from long text fields. Is there a way for this gem to parse markdown to html for long text fields? I don't see this as an option in the documentation.

[2018-09-14 19:06] mrispoli24 commented on #182
I installed red carpet as a separate gem but just wanted to still inquire if there was any kind of option for this in the Contentful gem. If not it might be helpful to just add this as a note to the documentation that will be needed.

[2018-09-17 11:02] dlitvakb commented on #182
Hey @mrispoli24,

This gem doesn't alter the content of long text fields, say you write something in the Markdown editor, the gem will output the underlying text representation of that markdown, for example:

[code]

RedCarpet (has a little different syntax for code blocks) or CommonMarker (a standardised set of markdown) are what we often recommend to use along side the SDK for doing the markdown

[2018-10-03 20:15] rezonant opened #183 "Incorrect default message on ServiceUnavailable error class"
https://github.com/contentful/contentful.rb/blob/02556988aabff49962118df44feaa5b1f79043bc/lib/contentful/error.rb#L189

[2018-10-09 11:10] dlitvakb commented on #183
Hey @rezonant,

Sorry this took so long, the issue got lost on my backlog, creating a patch release for it in a moment, should be released in the next hour or so.

Cheers

[2018-10-09 12:13] #183 closed

[2018-10-09 20:43] rezonant opened #185 "A way to expose Contentful request IDs in ServiceUnavailable errors"
Contentful support has requested that we provide request IDs for spurious 503 errors we are receiving from the Contentful Content Delivery API, but contentful.rb does not appear to expose this information in the event of a ServiceUnavailable error being thrown.

Is there a way to obtain the request ID from a Contentful::ServiceUnavailable error? If not, could this be added?

Of course, our logs cl

[2018-10-10 13:19] clupprich opened #186 "Allow configuring HTTP timeouts"
Is anybody already working on allowing to configure HTTP timeouts for the `Client`? [`http` allows you to do that](https://github.com/httprb/http/wiki/Timeouts), but it's not exposed in the configuration options of the client.

[2018-10-17 09:27] dlitvakb commented on #185
Hey @rezonant,

Request IDs are always included for all error messages.

Cheers

[2018-10-17 09:28] dlitvakb commented on #186
Hey @clupprich,

Haven't considered adding this yet, there is a timeout configuration for retries on 429 failures.

Could you explain a bit further on why would you need this feature?

Cheers

[2018-10-17 09:38] clupprich commented on #186
Hej @dlitvakb,
With the service disruption last week, we noticed that certain requests did go through to your CDN, but they took a _very_ long time to return a response. In our situation it would have been better to fail early and set the HTTP read timeout to e.g. 5 seconds (instead of the default 60 seconds). I guess this woulnd't only be interesting for `read_timeout`, but also `open_timeout`? M

[2018-10-17 17:56] rezonant commented on #185
Request IDs are not shown in the error message itself in my experience @dlitvakb -- Contentful support advised us to do this to access the requestId:

`error.response.load_json.fetch('requestId', 'unknown')`

`error.response.headers['x-contentful-request-Id']`

[2018-10-18 11:51] dlitvakb commented on #185
Hey @rezonant,

I've forwarded those snippets to the support team.

That said, they should not be required at all, unless the 500 is not coming from Contentful itself but because there was a failure in the delivery pipeline, like the CDN failing, or something alike, in which case the response you'd be getting wouldn't be coming from Contentful directly, as our API responses always contain the `req

[2018-11-08 03:23] scott-silver opened #190 "`*** NoMethodError Exception: undefined method ` for empty field"
I have a Contentful model (`blogAuthor`) that has an optional text field (`bio`).

If an `author` has a value for `bio`, the `Contentful::Entry` for that `author` will have a `bio` method, and it will return the value when called.

But if there is no `bio`, then the `Contentful::Entry` throws and error when you access the `bio` method:

[code]

From the docs, it looks like the solution to this iss

[2018-11-08 12:20] dlitvakb commented on #190
Hey @scott-silver,

`DynamicEntry` has been replaced with a Content Type Cache instead and it's used for field type coercion.

I'm currently implementing a solution for your issue, that's going to be included in the next minor release, which I'm doing later today.

The solution will be the following:

By default, trying to access a field of an entry with an undefined value (the field is not sent b

[2018-11-08 13:36] #190 closed

[2018-11-08 13:43] dlitvakb commented on #190
This has just been released.

Cheers

[2018-11-08 20:51] scott-silver commented on #190
that's awesome, thanks @dlitvakb!

[2018-11-08 23:38] scott-silver commented on #190
just started using this; exactly what i was looking for

[2018-11-09 01:01] keithm-thompson opened #193 "(Version 2.11.0) ContentfulModel#try(:optional_field) raises Contentful::EmptyFieldError"
Hello,

As the title suggests, the change in version 2.11.0 to raise on calls to empty fields causes `Object#try` to behave in a non-intuitive way. Removing the definition of `respond_to_missing?` [here]( https://github.com/contentful/contentful.rb/blob/cd0edb0e2cebc2176d231fe66c9a602b879d06ff/lib/contentful/entry.rb#L100) retains the behavior that you were looking to add in that patch (as `Conten

[2018-11-09 09:21] dlitvakb commented on #193
Hey @keithm-thompson,

Using `Object#try` from `ActiveSupport` is often considered a smell, you can read a more informed explanation about it here: https://karolgalanciak.com/blog/2017/09/24/do-or-do-not-there-is-no-try-object-number-try-considered-harmful/

In any case, if you rely on `#try`, you can change the `:raise_for_empty_field` configuration parameter to `false`.

If that doesn't work for

[2018-11-09 13:06] keithm-thompson commented on #193
Hey @dlitvakb,

I tend to agree that `Object#try` should be avoided in most cases. Unfortunately, this is a case in which there are existing calls in the code base to `Object#try` and updating the Gem broke those calls.

I was hoping to avoid changing that config to false since I am a fan of the new behavior 🙂.

My suggestion to remove the overriding of `respond_to_missing?` was due to the [implem

[2018-11-09 13:34] dlitvakb commented on #193
Hey @keithm-thompson,

I'm glad that you like the change.

That said, I'm super confused onto what the best approach to solve this is.

If I remove the `#respond_to_missing?` implementation, it would mean to keep exact backwards compatibility, but actually produce incorrect behaviour, as the field should *actually* have an accessible method in the entry object, even if it's empty. Because the corr

[2018-11-09 14:06] keithm-thompson commented on #193
Hey @dlitvakb,

Ah, I see. I misunderstood your intentions with the change. My apologies.

With this intended behavior, I think the current implementation works as it should. To state my understanding of the objective slightly differently, you want entries to operate as if there were methods defined on them like so:
[code]
In which case, calling `#try(:optional_field)` would result in an error.

W

[2018-11-09 14:14] dlitvakb commented on #193
Hey @keithm-thompson,

Thanks for understanding, that said, you can disable `:raise_for_empty_field` and keep using `#try` as it would return the `NilClass#try` chainable.

Cheers

[2018-11-09 14:20] #193 closed

[2019-01-17 10:49] #153 closed

[2019-01-17 10:49] #174 closed

[2019-01-17 10:49] #175 closed

[2019-01-17 10:50] #176 closed

[2019-01-17 10:50] #182 closed

[2019-01-17 10:50] #185 closed

[2019-03-01 13:52] elhu commented on #186
Hi!

We've just experienced the exact issue that @clupprich describes.
Is there any news on plans to allow timeouts to be configured?

[2019-03-01 14:35] dlitvakb commented on #186
Hey @clupprich and @elhu,

I'll take a look into this - and try to get it into the SDK as soon as I can.

Cheers

[2019-03-01 15:09] elhu commented on #186
@dlitvakb I gave it a quick try: https://github.com/contentful/contentful.rb/pull/196

[2019-03-20 11:24] teemutammela commented on #186
In the mean time, is there some best practice - or failing that, an ugly hack 😆  - for dealing with Delivery API failures? Preferably a rescue after Delivery API fails to delivery content within X amount of seconds.

[2019-03-20 11:28] elhu commented on #186
You can always wrap the call in a https://ruby-doc.org/stdlib-2.2.0/libdoc/timeout/rdoc/Timeout.html block, but it's a very brutal way of handling this kind of things and can lead to some nasty surprises.

[2019-03-20 11:35] teemutammela commented on #186
I wonder if [rack-timeout](https://github.com/heroku/rack-timeout) would be of any use. My application is based on Sinatra.

[2019-03-20 11:47] elhu commented on #186
@teemutammela if I read that correctly, this is used to terminate a request to your application, not a request your application makes to Contentful.

Depending on what you're trying to achieve, it might work as well.

[2019-04-08 08:23] elhu commented on #186
@dlitvakb any news regarding a fix to this issue? Did you get a chance to check out #196 ?

[2019-04-09 08:56] #186 closed

[2019-04-18 10:09] antwonlee opened #199 "Is there a way to query through slug opposed to id?"
Is there a way to query through slug opposed to id?  I am doing something simple like this in Rails:

[code]

This is returning nil for some reason.

[2019-04-18 10:14] antwonlee commented on #199
[code]

Never mind, I just did that in the show method.  I am not sure if that's a preferred way but it works for now.

[2019-04-18 10:14] #199 closed

[2019-05-07 19:28] arielkirkwood opened #200 "Contentful::Array does not implement #to_ary"
Hi folks, thanks for your hard work on this gem and the other Ruby client libraries!

I'm working with a Rails 4.2.11.1 project and the latest version of `contentful_rails` (0.4.2), which bundles `contentful_model` (1.0.1) and `contentful` (2.12.0). When I retrieve a collection of entries, I get a `Contentful::Array` object returned; within Rails, I'd like to be able to pass this object to the `re

[2019-05-07 19:32] arielkirkwood commented on #200
In case anyone else needs a work around, instead of doing
[code]
where `@collection` is a `Contentful::Array`, I'm doing
[code]

[2019-05-14 13:19] arielkirkwood commented on #200
@dlitvakb @pxlpnk My understanding is this wouldn't be a huge lift, would you like me to put together a PR?

[2019-05-14 13:51] dlitvakb commented on #200
Hey @arielkirkwood,

If you can that'd be great, since I don't quite understand what the issue is.

Cheers

[2019-06-04 17:48] elyngved opened #201 "Contentful::Asset#to_json raises 'stack level too deep' error"
I'm trying to consume a rich text field which comes in a nested node format. Calling `to_json` on this hash and then passing to [rich-text-html-renderer](https://github.com/contentful/rich-text/tree/master/packages/rich-text-html-renderer) worked well, until we tried including images in the body.

Calling `to_json` or `as_json` on a `Contentful::Asset` object raises a `SystemStackError: stack leve

[2019-06-26 13:22] dlitvakb commented on #201
Hey @elyngved,

Any reason why you're using the JS rich text library, instead of the Ruby version?

If you're still going to be using the JS library, then please use `asset.raw` instead, this returns the JSON returned from the API.

While `#to_json` without overwriting it returns the calculated JSON of the object, which if you're in a Rails application, conflicts with some serialization of ActiveS

[2019-06-27 01:21] elyngved commented on #201
Only because I didn't find it on my own! For anyone else reading, check out this official Ruby rich text gem: https://github.com/contentful/rich-text-renderer.rb

[2019-06-27 01:24] elyngved commented on #201
In case you're wondering, this is the workaround I found.. I didn't investigate any farther than this :)

[code]

[2019-06-27 08:10] dlitvakb commented on #201
Glad you were able to find the library, and solve your issue.

Is it alright if we close this issue?

Cheers

[2019-06-30 23:47] boxbinary opened #203 "use_camel_case: true causes nil reference error when accessing empty fields"
The following line references `content_type` but if you have created the client with `use_camel_case: true`, the `keys` of `sys` have been instantiated using camelCase (e.g. it should be `contentType` in this case), and a nil reference error is thrown trying to access `sys[:content_type].id`

https://github.com/contentful/contentful.rb/blob/487d04430cc2b2ea70580e446e318a4d59ed1417/lib/contentful/e

[2019-07-08 11:32] #203 closed

[2019-07-08 11:34] dlitvakb commented on #203
The fix has been released in version `2.13.1`.

Cheers

[2019-08-23 09:49] #201 closed

[2019-08-24 19:02] AfolabiOlaoluwa commented on #190
Thanks.

**But if I want to wrap all the methods in one argument, is that possible**? Such that I can have something like `entry.fields.key?(:bio, :name, :title, :description)`, then I can throw my solution into just one `if..else`

[2019-08-25 10:32] AfolabiOlaoluwa commented on #190
So I tried it, I figured out it only accepts one argument. Here is the error I go `wrong number of arguments (given 2, expected 1)`

[2019-10-08 16:40] 0xStarcat opened #209 "Recommendations for optimal Memory Usage?"
Hi, I recently upgraded my gem 2 major versions from `0.7.0` to `2.13.3`  and I'm seeing an almost x3 increase in memory usage (from 0.5 GB to 1.5GB - 2GB).

I'm using this gem in a Ruby on Rails app and it includes caching of content with MemCachier.

Here's the delivery client config:

[code]

Do you have any recommendations for what we can tweak to get back to our originally low memory usage?

[2019-10-10 09:02] dlitvakb commented on #209
Hey @0xStarcat ,

Circular references are the only reason why this version of the gem would be consuming more memory, that said, if you're using `reuse_entries`, and limit the max include resolution depth, this should be pretty much mitigated.

Please make sure that your own internal mechanism for entry resolution is not consuming extra resources and that your queries are using includes up to the

[2019-10-10 13:15] 0xStarcat commented on #209
Thanks for the reply!

I have a sneaking suspicion is may have to do with `reuse_entries` maybe?

In the README, it mentions that I should not use `reuse_entries` if I'm using Rails Caching. Can you talk a little bit more about why that is?

What I'm noticing is that with `reuse_entries` set to `false`, and `max_resolution depth` set to 3, my app does NOT need to resolve the circular references.

[2019-10-10 13:51] dlitvakb commented on #209
Hey @0xStarcat ,

What happens is that in the process of `unmarshaling` the entries from cache, when using `reuse_entries` it may not be able to find the related entries, due to these potentially having circular references, if you content were mostly unique entries, or just reused entries but without circular references, this should not be a problem.

What I would recommend, in your particular cas

[2019-10-10 14:08] 0xStarcat commented on #209
I'll implement your recommendation to keep the API `includes` parameters below the `max_resolution_depth` and I'm going to turn off `reuse_entries` while lowering `max_include_resolution_depth` to the number that works best for my app.

Thanks for your help! I'll report the results later today

[2019-10-10 21:04] 0xStarcat commented on #209
The newest config works for a time, but unfortunately it appears like our app or the gem has a memory leak somewhere... memory usage slowly doubles over the course of a few hours. This didn't happen until after we upgraded the gem.

Trying to cross off the list of potential causes, I managed to "close the gaps" and cache all of our templates, so link resolution is no longer occurring regularly aft

[2019-10-11 12:34] 0xStarcat commented on #209
I'm not sure it's not possible to determine if this is a common [Rails / Puma / Heroku](https://github.com/puma/puma/issues/1047) issue, or an issue with another gem we upgraded at the same time, or what.

Closing

[2019-10-11 12:34] #209 closed

[2019-10-18 14:05] 0xStarcat commented on #209
We configured herkou with `jemalloc` and memory usage improved. Thanks for your insight & help with the gem config!

[2019-11-19 18:35] HQ063 opened #212 "Unserialization fails if unrelated entry class was deleted"
We recently had an issue after we deleted a content model both from contentful and our codebase. We took all the precautions:
- We ensured there were no entries of that content model.
- We deleted the mapping from the `entry_mapping` configuration hash.
- We deleted the class from our codebase
- We waited for the deploy to succeed
- Last, we deleted the content type in contentful.

However, after

[2019-11-22 13:06] thisismydesign commented on #190
Ran into this issue regardless of the fix. Turns out, fields that are disabled in the response are not covered by `raise_for_empty_fields`. It would be nice to have an option to gracefully handle this case. Otherwise a contentful config change can break the app.

[2019-11-29 11:32] #212 closed

[2019-12-04 14:32] thisismydesign commented on #141
I'm trying to figure out the same, would be helpful if you posted the outcome here.

[2019-12-04 14:47] thisismydesign commented on #141
Alright, so based on the above example assuming you have
- a type called `event`
- a reference called `category`
- the reference is of type `event_category`

To search by ID:

`query = {content_type: 'event', 'fields.category.sys.contentType.sys.id' => 'event_category', 'fields.category.sys.id' => '<id>'}`

To search by some field:

`query = {content_type: 'event', 'fields.category.sys.contentType

[2020-02-18 15:36] clairgriffiths opened #216 "Rich text embedded entries not resolving includes into object"
I'm looking to get hold of the content of anything that was embedded within the body field of an entry.

Looking through the [entries spec](https://github.com/contentful/contentful.rb/blob/master/spec/entry_spec.rb#L671), it looks like the expected behaviour is that the gem will resolve the embedded content into an entry object:
[code]
However, when I dig into the body of my entry, it only returns

[2020-02-18 16:59] clairgriffiths commented on #216
So it turns out that I hadn't set `dynamic_entries: :auto` when I created the client, which means that it didn't cache anything, meaning it bypassed all of the coercion code.

Even though it clearly mentioned I needed to do this here: https://github.com/contentful/contentful.rb#dynamic-entries

🤦‍♀

[2020-02-18 16:59] #216 closed

[2020-03-04 14:37] teemutammela opened #217 "Warning: URI.escape is obsolete (Ruby 2.7.0)"
Apparent `URI.escape` is obsolete in Ruby 2.7.0, so the following warning is shown whenever a request is made to Delivery API.

`/Users/username/.rvm/gems/ruby-2.7.0/gems/contentful-2.15.2/lib/contentful/request.rb:16: warning: URI.escape is obsolete`

[2020-04-09 14:59] MGPalmer opened #219 "Can't marshal content objects when logger is set"
...the marshalling blows up as File/IO objects can't be dumped, and the marshalling code includes the config which includes the optional Logger instance.

[2020-04-14 15:57] Amith-catadoe commented on #217
Hi there,
I too have the same problem.
Did you find any solutions to fix this problem?

[2020-04-14 16:00] teemutammela commented on #217
Hi @Amith-catadoe . Not a solution per se. At the moment I'm just sticking to Ruby 2.6.5.

[2020-04-14 16:09] dlitvakb commented on #217
@teemutammela @Amith-catadoe Heya there, I think I've found a possible fix. Tomorrow I'll be testing this and pushing a new version if it works.

Cheers

[2020-04-14 16:10] teemutammela commented on #217
@dlitvakb Awesome, thanks!

[2020-04-15 12:38] #217 closed

[2020-04-15 12:40] dlitvakb commented on #217
Hey @teemutammela @Amith-catadoe

A fix has been now released on version `2.15.3`.

Cheers

[2020-04-15 18:11] teemutammela commented on #217
@dlitvakb Confirmed. The fix in `2.15.3` got rid of the warning. Thanks!  👍

[2020-04-25 12:38] Amith-catadoe commented on #217
@dlitvakb Thank you very much!!

[2020-05-07 18:54] 0xStarcat opened #223 "Querying for related entries by their contentType"
Hello! I'm having an issue trying to query for entries by the related entry's contentType.

I have 3 models - `Resource`, `BlogPost` and `Video`

I'm trying to query this model:

`Resource`

which has the single-reference field:

RESOURCE:
 - `entry` => `BlogPost` or `Video`

My query using the gem looks like this:

`Content::Resource.all('fields.entry.sys.contentType.sys.id': 'blogPost', include:

[2020-05-15 21:00] 0xStarcat opened #224 "Are @asset.file objects bloated?"
Hello,

I noticed a potential issue when I was trying to debug a slow cache retrieval.

I accessed an instance of `Contentful::Asset` and called `.file` on it. The call returned a gigantic wall of text (longer than my console limit) which seemed entirely composed of references to other assets and entries in my contentful space. If these references are being cached / loaded, this could be a huge pr

[2020-05-16 12:20] MGPalmer commented on #224
@0xStarcat Hello :) I've also been working recently on improving caching contentul data in our project. In our case, a big issue was that we had content that had self-references (i.e. a news article would have links to other news articles, which also linked news, etc.), and sometimes these unintentional "graphs" could grow to over 30MB of marshalled data :/

And of course it's hard to say what you

[2020-05-20 14:18] MGPalmer opened #225 "Bug in hydration with circular references?"
Hello!

I think I may have found a pretty subtle bug in the "hydration" code, which has taken me a long time to drill down to now X) Let me explain the setup:

Among other content_types, we have so called "Winner" and "News" (also called Articles) entries. News have a rich_text field that has elaborate text and inline images. A winner can link to many news, and sometimes news in turn link to Winne

[2020-05-20 14:24] MGPalmer commented on #225
Working winner: https://pastebin.com/fnuUUG25
Working winner: https://pastebin.com/CpQuXyP5
Content types: https://pastebin.com/UV21wFFx

[2020-05-24 13:00] toadle opened #226 "Creating custom-class objects with factory_bot"
Hey guys,

I'm trying to upgrade our `contentful` gem to the most recent version. We are currently still on `0.8`.  Our test-suite relies on being able to create instances of custom Contentful-class via `factory_bot`.

Here is an example configuration of a factory:

[code]
whereas `Contentful::Category` looks like:

[code]

and is mentioned in the `entry_mapping`.

Since upgrading to `2.15.3` I ha

[2020-05-25 21:47] toadle opened #227 "Method for boolean fields are missing when not set"
Hey guys,

I don't know if this is intended behaviour: We have several boolean-fields in our Content-models.
E.g. a `display_toc` oder `sponsored_article`-property.

Of course the editorial staff only edits these fields, if need which produces a lot of empty values in our objects.

Now I noticed that when the field is empty, the `method` is also missing in the `Contentful::Entry` even though it is

[2020-05-26 19:11] 0xStarcat commented on #224
I tried to parse my console output a bit more -- I can't pretty print it because it just goes off the end of my console screen! lol. It looks like the the big list of entries is under a key called `:_entries_cache` which is under a key `:includes_for_single` which is connected **somehow** to my gigantic file instances.

[2020-05-26 20:41] toadle commented on #227
I just noticed that this issue is present for every field that has no value. e.g. Radio-Button-Fields that nobody selected a value for.

[2020-05-26 21:41] HQ063 commented on #227
This is by design. Check `dynamic_entries` on README and use `:auto` or `update_dynamic_entry_cache!` if you prefer to always get all the fields.

[2020-05-26 22:01] toadle commented on #227
@HQ063 Thanks for the heads-up. I also had to set `raise_for_empty_fields` to `false` to make this work as expected, but now it does!

[2020-05-26 22:01] #227 closed

[2020-06-02 07:42] floriank commented on #225
Hey!

Thanks for reporting - also sorry for the delayed response. I will try and reproduce this and get back to you asap.

[2020-06-02 07:46] floriank commented on #225
@MGPalmer I assume this is the broken data ? :wink:

[2020-06-02 09:58] MGPalmer commented on #225
@floriank Ah yes, my bad. Thanks for looking at this, much appreciated!

[2020-06-02 12:23] floriank commented on #225
mmh,

so far i could not reproduce the behaviour in a similar setup (using circular references with entries and assets).

do you have a demo project somewhere were it breaks?

[2020-06-02 12:31] MGPalmer commented on #225
@floriank yeah it seems to happen only in some unfortunate combinations. We can reproduce it reliably in our project but that's not public unfortunately. Hmm apart from the content model and data I linked to above, what you you need to reproduce? Our subclasses of Content::Base used in the entry_mapping don't do anything special.

[2020-06-02 12:52] floriank commented on #225
Well, ideally I could debug in your project locally, but that's not in the cards, so I'd need the same data setup ideally - which rebuilding manually will cost me a lot of time :(

[2020-06-02 14:48] MGPalmer commented on #225
@floriank I can try to hack something together but I'm pretty busy at the moment, so it would take me some days.
But here's a wild idea, since we're both in Berlin, we could meet and I could just show you the issue? Send me a PM for contact if that's an option for you :)

[2020-06-02 14:51] floriank commented on #225
I would not meet up physically during corona, but a video call might be in the cards.

Pretty busy over here at contentful myself, I'll check my calendar.

[2020-06-07 10:32] toadle commented on #226
OK, I have a temporary (very ugly) solution like this.
Create a new super-class for all you `Contentful::Entry`s.

Mine is called `Contentful::BaseEntry`.

Then do this:

[code]

Now, if you have a `Contentful::Article` like so:

[code]

You'll be able to create object with `factory_bot` like so:

[code]

Still thinking about, if this is doable in a more clean way...

[2020-06-15 13:00] MGPalmer commented on #225
@floriank I'm still up for that call, btw ;)

[2020-06-15 13:01] floriank commented on #225
Sure, I sent you an email earlier - I assumed you were busy.

[2020-06-15 14:31] MGPalmer commented on #225
@floriank Hmm no idea where that got lost, sorry. Can you try again, please?

[2020-06-19 11:02] floriank commented on #225
Investigating this, I've created a branch over at my fork with a [fake `vcr_cassette`](https://github.com/floriank/contentful.rb/blob/fix/issue-225/spec/fixtures/vcr_cassettes/entries/issue_225_broken.yml) simulating your "broken" response.

I also included a spec to verify the behaviour you were describing - see https://github.com/floriank/contentful.rb/blob/fix/issue-225/spec/entry_spec.rb#L788.

[2020-06-19 12:57] MGPalmer commented on #225
@floriank We're doing this:

[code]

[2020-06-19 13:45] floriank commented on #219
This is closed by the mentioned above, right @MGPalmer ?

[2020-06-20 10:41] MGPalmer commented on #219
@floriank yeah, great!

[2020-06-20 10:41] #219 closed

[2020-06-22 09:43] floriank commented on #225
I rebuilt the relevant parts into a test setup - see https://github.com/floriank/contentful.rb/blob/fix/issue-225/spec/entry_spec.rb#L836.

One issue i face is that neither `rich_image` gets hydrated here, I face a `Link` (a hash actually when evaluating `rich_text['content'][13]['data']['target'].image`.

[2020-06-29 07:25] floriank commented on #225
I successfully build a version that fails like your response: See https://github.com/floriank/contentful.rb/blob/fix/issue-225/spec/entry_spec.rb#L788.

Turns out this behaviour is at least _odd_. Paging @dlitvakb for visibility.

[2020-07-06 15:14] floriank opened #229 "Add dependabot for great success."
we use it in a lot of other repos, might be useful here.

See https://github.com/marketplace/dependabot-preview.

[2020-07-06 17:35] MGPalmer commented on #225
@floriank thanks for staying on it, and also for the new release, I'm working on integrating it and removing our hacks :)

[2020-09-17 20:17] rubydog opened #230 "Missing CONTRIBUTING.md file"
The project is missing `https://github.com/contentful/contentful.rb/blob/master/CONTRIBUTING.md` file.

[2020-09-18 13:52] rubydog commented on #223
Hi @0xStarcat!

Currently this is not possible with our Search API, you will have to filter manually by type, as our Search API only allows to use the relationship queries to filter by a value on the relationship and not by the relationship type itself.

Cheers

[2020-11-08 03:49] MatteoGioioso commented on #177
Did you manage to find the problem? I have the exact same issue

[2020-11-09 09:13] rubydog commented on #177
Hey @MatteoGioioso, thanks for reporting the issue.   I am looking into it. I will get back to you if I need more details.

Cheers

[2021-01-19 16:21] antwonlee commented on #209
@0xStarcat Did switching to `jemalloc` solved your issue?  I am having too much memory allocation when I am pulling all the entries from Contentful.

[2021-03-18 19:12] ghepting opened #232 "XSS VULN CVE-2012-6708"
the docs/ directory of this gem has a very old version of jquery as a hard coded lib file. this is causing automated vulnerabilty scans to report contentful.rb as a violation and in need of attention.

The following are all being reported due to this:

- https://nvd.nist.gov/vuln/detail/CVE-2012-6708
- https://nvd.nist.gov/vuln/detail/cve-2015-9251
- https://nvd.nist.gov/vuln/detail/CVE-2020-11022

[2021-04-07 14:30] rubydog commented on #232
Hey @ghepting, thanks for reporting the issue.   I am looking into it. I will get back to you if I need more details.

Cheers

[2021-04-07 16:17] ghepting commented on #232
Sweet, thanks

[2021-04-08 10:52] rubydog commented on #232
Hey @ghepting, we are using yard to generate documentation and it is possible to disable it on gem installation. [Here](https://github.com/lsegal/yard/issues/1187) is a way to do it. Let me know if this is an option for you? Reach out to me if problem persist.

Cheers

[2021-04-08 15:22] ghepting commented on #232
Yeah I think that'd be much better to do it on demand. Great you're using Yard already. The important part to remove the vulnerabilities from being detected on this gem is to remove the docs folder and very old version of jquery in this specific case. As long as that happens we'll be able to consider this solved!

[2021-04-28 12:47] ghepting commented on #232
Any ETA on getting this vulnerable code out of this repo? Still have open vulnerability tickets that are well outside of their SLA from this  :(

[2021-04-28 13:12] rubydog commented on #232
Hey Gary,

I'll push the fix this week.

Cheers

On Wed, 28 Apr, 2021, 2:48 pm Gary Hepting, ***@***.***>
wrote:

[2021-04-30 08:09] #232 closed

[2021-05-28 23:40] rezonant opened #236 "Cannot marshal objects which have more nesting depth than the API can return"
When the initial JSON for an Entry has too many nested references and thus is returned with Links, the marshal_dump for FieldsResource incorrectly returns a hash which has the Links still in it, even though the library has already done the additional requests to fetch the remaining resources.

This is because on line 69 of fields_resource.rb in function `raw_with_links`, the `raw` hash is cloned,

[2021-08-20 20:52] dustinbrownman commented on #236
Just want to add a 👍🏻 for this issue. We want to cache the Contentful objects since fetching and building are affecting the performance of our pages. But trying to store the objects in the Rails cache is throwing exceptions for us (I don't have the exact exceptions handy at the moment 😬). I'm going to see if this monkey patching works for us and hopefully we'll be able to contribute to a PR or som

[2021-09-26 16:46] elia opened #241 "Calling Marshal.dump twice on an object makes the second one not working"
We uncovered this while writing an object on two different caches for reasons beyond the scope of this ticket.

The issue can be reproduced by comparing two marshal-ed objects or trying to access its fields after rehydrating the second marshal:

[code]

I'm not sure if the contentful object needs to be of a certain complexity before manifesting this behavior, but this issue broke our production an

[2021-12-06 10:35] rubydog commented on #236
@rezonant @dustinbrownman

I am taking a deeper look at this issue. Do you have a sample case to reproduce this issue? Or can you add a testcase for fix?

[2021-12-06 10:39] rubydog commented on #241
Hi @elia

I could not reproduce this issue on my end. Do you have a specific example/entry where you encounter this issue?

Cheers

[2021-12-06 13:58] rezonant commented on #236
Unfortunately not, the fix works perfectly for us and we're moving away from contentful. Best!

[2021-12-08 21:24] elia commented on #241
We didn't pin it down with certainty, but I think the problem manifested itself with attached image assets.

[2021-12-10 22:26] earoberson commented on #236
@rubydog also experiencing this issue.

Entries that have an issue caching for us include a reference, many field to at least two other entries with rich text fields and an embedded asset in that rich text field.

Verified that the above monkey-patch works for us as well. Removing the embedded assets in the rich text field also seems to fix, but we'd like to be able to cache with the embedded asse

[2022-01-03 12:21] #236 closed

[2022-01-06 16:11] seanbourkemckenna opened #244 "Retrieving all entries crashes with NoMethodError: undefined method `key?' for <Contentful::Link id='icon'>:Contentful::Link"
Just installed the Contentful ruby gem and I'm running into this error when trying to do a basic fetch of all entries from a space.

Similar to what you have in the docs

[code]

[code]

Which points to here

https://github.com/contentful/contentful.rb/blob/master/lib/contentful/base_resource.rb#L12

How can I unblock this?

[2022-01-17 17:07] GabrielAnca commented on #244
Hi team 👋🏻 Sean and I have been doing some debugging on this and would like to share some extra feedback.

As you can see above, the issue is that the library is expecting to get a Hash on the constructor, but it's getting a `Contentful::Link` object.

We've added a breakpoint on the `hydrate_metadata` method when building the tags:

![image](https://user-images.githubusercontent.com/251391/149811

[2022-01-17 17:18] GabrielAnca commented on #244
Hi team 👋🏻 Sean and I have been doing some debugging on this and would like to share some extra feedback.

As you can see above, the issue is that the library is expecting to get a Hash on the constructor, but it's getting a `Contentful::Link` object.

We've added a breakpoint on the `hydrate_metadata` method when building the tags:

![image](https://user-images.githubusercontent.com/251391/149811

[2022-01-19 19:06] rubydog commented on #244
Hi @GabrielAnca and @seanbourkemckenna

Thanks for reporting the issue, I see the same error when trying to query entries. I will take a closer look at the issue here.

Will keep you posted.

Cheers

[2022-01-26 09:01] #244 closed

[2022-01-31 11:38] elia commented on #241
This might be related https://github.com/contentful/contentful.rb/pull/245
If I'm not mistaken images are also linked.

[2022-02-01 11:50] rubydog commented on #241
@elia can you please update contentful gem to the latest version and let me know if the problem persists?

Cheers

[2022-07-12 18:53] robertcramer opened #252 "Get all entries that an entry is linked to?"
I am having a hard time finding a method call for an entry to give me all entries that a specific entry is linked to. I can see the information in the Web Dashboard in the General -> Links section of an entry but wondering if there is a way to get this info using this library?

[2022-07-25 09:48] rubydog commented on #241
Closing because PR #245 should have fixed the issue.

[2022-07-25 09:48] #241 closed

[2022-08-03 23:05] EricNelson12 opened #253 "Content type caching breaks for multiple clients with same content type names"
Since `ContentTypeCache` has a static field `__CACHE__ = []`, this `__CACHE__` object is reused across clients.

`ContentTypeCache`'s methods `get` and `update_cache` are called statically instead of on different instances of `ContentTypeCache`

So if I have two spaces, and need two clients like

[code]

When `update_cache` is called for the second client, it will replace the cache made by the fir

[2022-08-04 16:40] EricNelson12 commented on #253
Accidentally created this for ruby instead of python. See https://github.com/contentful/contentful.py/issues/74 for the story of how I was tricked by this filmflammer of a button :laughing:

[2022-08-04 16:40] #253 closed

[2022-10-04 05:18] natematykiewicz opened #255 "Embedded Entry in Rich Text field"
I've got an Entity called "Article" that has Rich Text field called "Body", which I've Embedded in Entry into. I can't figure out how to find the contents of the embedded entry without doing extra web requests. When going through the rich text field in Ruby by using `Contentful::Client.new({}).entry(id).body`, I see:

[code]

If I look at the JSON that was returned when requesting my Article, I no

[2022-10-04 05:33] natematykiewicz commented on #255
I just spotted [this line](https://github.com/contentful/contentful.rb/blob/1f3d9a5fc99cf41a6130f97bcf651c4f64ba0b5c/spec/entry_spec.rb#L705), which showed me that this is supposed to work. I realized the problem is that it only links it in, if `dynamic_entries` is set to `:auto`, which I did not set because it fires off a 80ms `https://cdn.contentful.com/spaces/MY-SPACE-ID/environments/master/con

[2022-10-05 12:16] roelkok commented on #177
I'm having the same issue two years later.

[2022-10-07 15:16] rubydog commented on #255
@natematykiewicz The 80ms call to `https://cdn.contentful.com/spaces/MY-SPACE-ID/environments/master/content_types?limit=1000` is only fired when a client is initialized. Ideally, you initialize the client once and reuse it to make further queries thus reducing multiple calls to `https://cdn.contentful.com/spaces/MY-SPACE-ID/environments/master/content_types?limit=1000`.

[2022-10-07 23:16] natematykiewicz commented on #255
Oh, that actually helped me a lot! Thanks!

[2022-10-13 00:06] #255 closed

[2022-10-27 16:21] rubydog commented on #229
The link doesn't work and not enough explanation as to what is the problem. Please reopen the ticket if problem persists.

[2022-10-27 16:21] #229 closed